<script type="text/javascript" src="jscript/yahoo/build/utilities/utilities.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        FormCollector.setExtraFieldCallback(function(values) {
            values['generated'] = [];
            
            $('#ul2 input').each(function() {
                values['generated'].push($(this).val());
            });
        });
    });
</script>
<link rel="stylesheet" href="css/import.css" type="text/css">
<style type="text/css" media="screen">
ul.draglist {
    height:220px;
}
</style>

{header}

{error_msg}

<div class="infoBoxTitle">{csvfile_example_msg}</div>
<div class="infoBoxBody">
    John,Doe,jdoe@domain.com,username<br>
    Steve,Doe,sdoe@domain.com,spiderman<br>
    ........<br>
    --------------<br>
    {csv_test_note_msg}<br>
    {user_import_note_msg}
</div>

<br>

<!-- onSubmit="return validate_employee_form({is_admin});" -->
<form action="{action_link}" method="post" enctype="multipart/form-data" name="aContentForm" id="aContentForm" onsubmit="LeaveScreenMsg.skipCheck();">
{hidden_fields}

<table border=0 cellpadding="5" cellspacing="1" width="100%">
<tr>
    <td colspan="2" class="tdTitle" style="padding:1px;"></td>
</tr>

{import_block_tmpl}


<tmpl:more_fields>
<tr>
    <td colspan="2" style="padding:10px;"></td>
</tr>

<!-- <tr class="trLighter">
    <td class="tdFormCaption">{password_md5_msg}:</td>
    <td><input type="checkbox" name="md5" id="md5" value="1" {md5_checked}></td>
</tr> -->


<tr>
    <td colspan="2" class=" trMoreDarker">{extra_options_msg}</td>
</tr>
<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{company_msg}:</td>
    <td>{company_select}</td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{role_msg}:</td>
    <td>{role_select}</td>
</tr>
</tmpl:more_fields>

<tr>
    <td></td>
    <td><div><br></div>
        <div id="bottom_button">
            <input type="submit" name="submit" id="doSubmit" value="{load_msg}" class="button"
                onClick="validateForm();return false;" />
        </div>
    </td>
</tr>
</table>
</form>

<script type="text/javascript" src="jscript/DragAndDrop.js"></script>