<?xml version="1.0" encoding="{encoding}"?>
<report>
    <detail>
        <date_period>{date_period}</date_period>
    </detail>
    
    <items>
        <tmpl:row>
        <item>
            <date>{date_login}</date>
            <user_id>{user_id}</user_id>
            <username>{username}</username>
            <output>{output}</output>
            <ip>{user_ip_formatted}</ip>
            <login_type>{login_type_formatted}</login_type>
            <exitcode>{exitcode}</exitcode>
        </item>
        </tmpl:row>
    </items>
</report>