{menu_block}

<strong>{nav}</strong>
<br /><br />

<table border="0" width="100%" cellpadding="5" cellspacing="1">
<tr>
    <td colspan="2" class="tdTitle" style="padding: 2px;"><b>{viewdiff_msg2}</b></td>
</tr>

<tmpl:entry_id>
<tr class="trMoreDarker">
    <td>{entry_id_msg}:</td>
    <td>
        <strong>{entry_id}</strong>
        <tmpl:entry_link>
        | <a href="{entry_link}">{entry_public_link_msg}</a>
        </tmpl:entry_link>
    </td>
</tr>
</tmpl:entry_id>

<tmpl:posted>
<tr class="trMoreDarker">
    <td>{date_msg}:</td>
    <td><strong>{formatted_date}</strong>&nbsp; {formatted_user}</td>
</tr>
</tmpl:posted>


<br />
<table border="0" width="100%" cellpadding="5" cellspacing="2">
    <tr valign="top">
        <td class="trDarker">
            <div>
                <form>
                    {left_hidden_fields}
                    <select name="vnum2" onchange="this.form.submit();">
                        {left_select}
                    </select>
                </form>
            </div>
            <div style="padding: 5px 7px;">
                <div style="padding-bottom: 3px;">
                    {updated_msg}: {left_updated_by} 
                </div>
                {comment_msg}: {left_comment}
            </div>
        </td>
        
        <td style="padding: 1px;"></td>
        
        <td class="trDarker">
            <div>
                <form>
                    {right_hidden_fields}
                    <select name="vnum" onchange="this.form.submit();">
                        {right_select}
                    </select>
                </form>
            </div>
            <div style="padding: 5px 7px;">
                <div style="padding-bottom: 3px;">
                    {updated_msg}: {right_updated_by} 
                </div>
                {comment_msg}: {right_comment}
            </div>
        </td>
    </tr>
    <tr><td colspan="2"></td></tr>
    <tr>
        <td style="width: 50%; vertical-align: top;">{diff_new}</td>
        <td class="trDarker"  style="padding: 1px;"></td>
        <td style="width: 50%; vertical-align: top;">{diff_old}</td>
    </tr>
</table>

<hr /><br />

<!-- onSubmit="return Validate(this);" -->
<form action="{action_link}" method="post" name="">
{hidden_fields}

<div align="center">
    <div id="bottom_button">
        <input type="submit" name="submit" id="submit" value="{rollback_to_msg}" class="button" 
            onClick="return confirmForm('{sure_common_msg}', 'submit');">        
    
        <input type="button" value="{revision_update_to_msg}" class="button" 
            onClick="location.href='{update_link}';">
    
        <input type="submit" name="submit" value="{preview_revision_msg}" class="button" 
            onClick="PopupManager.create('{preview_link}','r','r');return false;">
            
        <input type="button" value="{download_msg}" class="button" 
            onClick="location.href='{download_link}';">
            
        <input type="button" value="{back_msg}" class="button" 
            onClick="location.href='{cancel_link}';">
    </div>
</div>

</form>