<strong>{nav}</strong>
<br /><br />

<table border="0" width="100%" cellpadding="5" cellspacing="1">
<tr>
    <td colspan="2" class="tdTitle" style="padding: 2px;"><b>{viewdiff_msg2}</b></td>
</tr>


<table border=0 width="100%" cellpadding="5" cellspacing="1">
<tr>
    <td colspan="2" class="tdTitle" style="padding: 1px;"></td>
</tr>

<tr valign="top">
    <td class="trDarker">
        <b>{live_revision_msg}</b> ({formatted_date_posted})
        <div style="padding-top: 3px;">{live_comment}</div>
    </td>
    <td>
        <a href="{live_download_link}">{download_msg}</a>
    </td>
</tr>
    
<tr>
    <td class="trDarker">
        <b>{revision_msg} #{revision_num}</b> ({formatted_date_revision})
        <div style="padding-top: 3px;">{revision_comment}</div>
    </td>
    <td style="width: 50%; vertical-align: top;">
        <a href="{revision_download_link}">{download_msg}</a>
    </td>
</tr>

<tr>
    <td colspan="2" align="center"><div><br></div>
        <input type="button" value="{cancel_msg}" onClick="location.href='{cancel_link}'" class="buttonLong">
    </td>
</tr>
</table>
