<link rel="stylesheet" href="css/tabs.css" type="text/css">

<script type="text/javascript" src="tools/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="tools/ckeditor_custom/CKDropUploader.js"></script>
<script type="text/javascript" src="jscript/SortShowMore.js"></script>
<script type="text/javascript" src="jscript/Autosave.js"></script>
<script type="text/javascript" src="jscript/TagManager.js"></script>
<script type="text/javascript" src="jscript/common_entry_form.js"></script>
<script type="text/javascript">

    function init(){

        SortShowMore.up_msg = "{show_more_up_msg}";
        SortShowMore.down_msg = "{show_more_down_msg}";
        SortShowMore.loading_msg = "{show_more_loading_msg}";
        SortShowMore.init();

        var fields_to_check = ['tag', 'related', 'attachment'];
        LeaveScreenMsg.setFieldsToCheck(fields_to_check);
    }

    CKEDITOR.on('instanceReady', function(evt) {
        ////CKDropUploader.init(1);
        ////CKDropUploader.setUploadUrl('{ck_drop_upload_url}');

        ShowDiv('div_entry_type', true);
        ShowDiv('div_entry_template', true);
        ShowDiv('div_entry_submit', true);
        LeaveScreenMsg.setEditor(evt.editor);
        oEditor = evt.editor;
        LeaveScreenMsg.setFckDefaultValue();

        evt.editor.on('change', function(e) {
            checkFckChanges()
        });

        evt.editor.on('dialogShow', function(dialogShowEvent) {
            if(CKEDITOR.env.ie) {
                $(dialogShowEvent.data._.element.$).find('a[href*="void(0)"]').removeAttr('href');
            }
        });

        $.waypoints('refresh');
        evt.editor.on('resize', function() {
            $.waypoints('refresh');
        });

        if (!$('#bottom_button').isOnScreen()) {
            setButtons('up');
        }
    });

    function checkFckChanges() {
        if ($('#history_flag').val() != 0) {
            return;
        }

        editor = CKEDITOR.instances.body;

        if (checkFckChanges.changed) {
            return;
        }

        if (editor.getData() != LeaveScreenMsg.fck_default) {
            $('#history_comment').css('display', 'block');
            $('#history_flag').val(1);
            checkFckChanges.changed = true;
        }
    }

    // setEntryTemplate -> xajax_setEntryTemplate -> call_SetEntryTemplate
    function setEntryTemplate(action) {
        var template_id = document.getElementById('entry_template').value;
        if(template_id == 0) {
            return false;
        }

        xajax_setEntryTemplate(template_id, action);
    }

    function call_SetEntryTemplate(new_content, action) {
        editor = CKEDITOR.instances.body;

        if(action == 'replace') {
            var fck_content = editor.getData();
            if(fck_content == '') {
                editor.setData(new_content);

            } else {
                confirm2("{sure_replace_body_msg}", function() {
                    editor.setData(new_content);
                });
            }
        } else {
            // var html_to_insert = '<div>' + new_content + '</div>';
            // var element = CKEDITOR.dom.element.createFromHtml(html_to_insert);
            // editor.insertElement(element);

            new_content += "\n";
            // new_content += "\n<p>&nbsp;</p>";
            editor.insertHtml(new_content);
        }
    }

    function insertLink(field, id) {
        var data = {
            field: field,
            value_id: id,
            do_confirm: false
        }

        window.top.oEditor.execCommand('insertLink', data);
        window.top.checkFckChanges();
    }

    $(document).ready(function() {

        // tabs
        $('#tabs').tabs({
            activate: function(event, ui) {
                var id = 'tab-' + (ui.newTab.index() + 1);
                $('.lower_tabs').parent('.ui-state-active').removeClass('ui-state-active lowerTabSelected');
                $('.lower_tabs[href="#' + id + '"]').parent().addClass('ui-state-active lowerTabSelected');

                $.waypoints('refresh');
            }
        });

        // lower tabs
        $('.lower_tabs').bind('click', function(e) {
            $(this).parent().parent().find('.ui-state-active').removeClass('ui-state-active lowerTabSelected');
            $(this).parent().addClass('ui-state-active lowerTabSelected');

            e.preventDefault();

            var active_tab_index = $(this).attr('href').substr(5) - 1;
            $('#tabs').tabs('option', 'active', active_tab_index);

            $('html, body').animate({scrollTop:0}, 0);
        });


        // msg for fck template window
        fck_replace_block_text = {
            'insert': {
                'text': "{insert_template2_msg}",
                'title': "{insert_template_msg}"
            },
            'replace': {
                'text': "{replace_template2_msg}",
                'title': "{replace_template_msg}"
            },
            'include': {
                'text': "{include_template2_msg}",
                'title': "{include_template_msg}"
            },
            'filter': {
                'text': "{filter_msg}",
                'title': ''
            }
        };

        <tmpl:auto_save>
        autosave = new Autosave('article');
        autosave.setIdKey('{autosave_key}');
        setInterval(function() {autosave.save.call(autosave)}, {autosave_period});
        </tmpl:auto_save>

        customFieldCategoryHandler("{sure_delete_msg}");

        $('#entry_type').change(function() {
            xajax_setTypeTemplate(this.value);
        });

        button_text_enabled = {button_text_enabled};
        $('select[name="active"]').change(function() {
            updateButtonText();
        });

        s = new getMoreHtml();
        s.readroot = document.getElementById('readroot_article');
        s.writeroot = document.getElementById('writeroot_article');
        s.id_pref = 'more_html_related_';

        s.confirm_use = false;
        s.confirm_msg = '';

        $('body').bind('kbpArticlePopupOpened', {}, function(e, params) {
            var popup_frame = PopupManager.getCurrentPopupFrame();
            var popup = PopupManager.getCurrentPopup();

            if (popup.length) {
                $('div.popUpDiv input[name="related[]"]').each(function() {
                    var id = $(this).val();
                    popup.find('iframe').get(0).contentWindow.disableLink($('#attach_link_' + id));
                    popup_frame.find('#attach_link_' + id).parent().parent().attr('class', 'trHighlight');
                    popup_frame.find('#insert_img_' + id).hide();
                    popup_frame.find('#inserted_img_' + id).show();
                });
            }
        });

        $('body').bind('kbpArticleSelected', {}, function(e, params) {
            var popup_frame = PopupManager.getCurrentPopupFrame();
            var hidden = $('input[name="related[]"][value="' + params.id + '"]');

            if (hidden.length == 0) {
                s.get(params.id, params.title);

                popup_frame.find('#insert_img_' + params.id).hide();
                popup_frame.find('#inserted_img_' + params.id).show();

            } else {
                hidden.parent().parent().remove();

                popup_frame.find('#insert_img_' + params.id).show();
                popup_frame.find('#inserted_img_' + params.id).hide();
            }

            $.waypoints('refresh');
        });

        $('body').bind('kbpFileSelected', {}, function(e, params) {
            var data = {
                field: 'file',
                value_id: params.id,
                do_confirm: false
            }

            window.top.oEditor.execCommand('insertLink', data);

            if (window.top.checkFckChanges) {
                window.top.checkFckChanges();
            }
        });
    });


    function updateButtonText() {
        if (button_text_enabled) {
            var status = parseInt($('select[name="active"]').val());
            var published_statuses = [{published_statuses}];
            var non_active_categories = [{non_active_categories}];

            var published = false;

            $('#category option').each(function() {
                if ($.inArray(parseInt($(this).val()), non_active_categories) == -1) {
                    published = true;
                }
            });

            if ($.inArray(status, published_statuses) == -1) {
                published = false;
            }

            var button_text = (published) ? "{publish_msg}" : "{save_msg}";
            $('input[name="submit"]:not(#submit_draft)').val(button_text);
        }
    }


    function LeaveScreenMsgCheck() {
        var filter_ids = ['filter'];
        LeaveScreenMsg.setFilterFields(filter_ids);

        LeaveScreenMsg.initCheck('aContentForm');
        //LeaveScreenMsg.add_check = new Function('alert(12)');
    }

    function setSelectTemplate(items) {
        var select = document.getElementById('entry_template');
        select.options.length = 0;
        for (var id in items) {
            select.options[select.options.length] = new Option(items[id], id);
        }
    }

    function cancelHandler(cancel_link) {
        xajax_cancelHandler(cancel_link);
        LeaveScreenMsg.skipCheck();
    }

    function insertConvertedArticle(content) {
        editor = CKEDITOR.instances.body;
        editor.setData(content);
    }

    function draftValidateCallback() {
        confirm2('{save_as_draft_note_msg}', function() {
            $('#aContentForm').attr('action', '{draft_action}');

            $('#submit_draft').attr('onclick', '');
            $('#submit_draft').click();
        });
    }

    window.onload = init;

</script>

{menu_block}
{error_msg}


<!-- onSubmit="return Validate(this);" -->
<tmpl:entry_view>
<form action="{action_link}" method="post" name="aContentForm" id="aContentForm" onsubmit="subForm();">
</tmpl:entry_view>

{hidden_fields}

<input type="hidden" id="id_key" name="id_key" value="{autosave_key}" />

<div id="tabs">
<ul>
   <li><a href="#tab-1"><span>{tab_main_msg}</span></a></li>
   <li><a href="#tab-2"><span>{tab_advanced_msg}</span></a></li>
   <!-- <li><a href="{public_comment_link}"><span>{comments_msg}</span></a></li> -->
</ul>

<!-- tab 1 -->
<div id="tab-1">

<table border="0" width="100%" cellpadding="5" cellspacing="1">
<tr>
    <td colspan="2" class="tdTitle"><b>{action_title}</b></td>
</tr>

<tmpl:entry_id>
<tr class="trMoreDarker">
    <td>{id_msg}:</td>
    <td><strong>{id}</strong></td>
</tr>
</tmpl:entry_id>

<tmpl:entry_id2>
<tr class="trMoreDarker">
    <td>{entry_id_msg}:</td>
    <td><strong>{id2}</strong></td>
</tr>
</tmpl:entry_id2>

<tmpl:posted>
<tr class="trMoreDarker">
    <td>{date_msg}:</td>
    <td><strong>{formatted_date}</strong>&nbsp; {formatted_user}</td>
</tr>
</tmpl:posted>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{entry_type_msg}:</td>
    <td>
        <div id="div_entry_type" style="display: none;">
            <select name="entry_type" id="entry_type" style="width: 630px;">
                {entry_type_select}
            </select>
        </div>
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{category_msg}: {required_sign}</td>
    <td>
        {category_block_search_tmpl}
        {category_block_tmpl}
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{entry_title_msg}: {title_required_sign}</td>
    <td>
        <textarea cols="" rows="1" name="title" id="title" style="width: 100%;">{title}</textarea>
        <!-- onBlur="xajax_populateUrlTile(this.value)">{title}</textarea> -->
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">
        {entry_body_msg}: {required_sign}
    </td>
    <td>
        <div id="div_entry_template"></div>

        <tmpl:converter>
		<div style="float:right; padding-right: 5px; margin-bottom: 5px;">
            <a href="javascript:PopupManager.create('{convert_link}', 'r', 'r');" title="{create_from_file_msg}">
                <img src="images/icons/article.svg" alt="article" border="0" width="14" height="14" align="absmiddle">
			</a>
		</div>
        </tmpl:converter>

         <div id="div_entry_template" style="margin-bottom: 5px;">
            <select name="entry_template" id="entry_template" style="width: 350px;">
                {template_select}
            </select>
            &nbsp;&nbsp;
			<span>
            <a href="javascript:setEntryTemplate('insert'); void(0);"
                title="{insert_template_msg}">
				<img src="images/icons/assign_blue.svg" width="14" height="14" alt="insert" align="absmiddle"></a>
            &nbsp;
            <a href="javascript:setEntryTemplate('replace'); void(0);"
                title="{replace_template_msg}">
            	<img src="images/icons/assign_red.svg" width="14" height="14" alt="replace" align="absmiddle"></a>
            &nbsp;
            <a href="javascript:setEntryTemplate('include'); void(0);"
                title="{include_template_msg}">
            	<img src="images/icons/assign_green.svg" width="14" height="14" alt="include" align="absmiddle"></a>
            &nbsp;|&nbsp;
    		<input type="button" value="+" title="{open_template_msg}" class="button2 button2_add"
        		onclick="PopupManager.create('{template_link}', 'r', 'r');" />
			</span>
        </div>

        {ckeditor}
        <div id="progressbar"></div>
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{tags_msg}:</td>
    <td>
        {block_tag_tmpl}
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{related_articles_msg}:</td>
    <td>
        <div style="padding-bottom: 3px;">
            <!-- <a href="javascript:PopupManager.create('{related_popup_link}', 'r', 'r');" title="{add_new_msg}">
                <img src="images/icons/add_new.svg" alt="{add_new_msg}">
            </a> -->
    		<input type="button" value="+" title="{add_new_msg}" class="button2 button2_add"
        		onclick="PopupManager.create('{related_popup_link}', 'r', 'r');" />
        </div>

        <tmpl:related_row>

            <div class="popUpDiv">
                <div style="float: left;">
                	<input type="hidden" name="related[]" value="{article_id}"><span title="{atitle}">{title}</span>
                </div>
                <div align="right">
                	<input type="checkbox" name="related_ref[]" value="{article_id}"
						title="{related_crossref_msg}" {related_ref_ch}>

					<a id="" href="" style="margin: 0px 7px;"
						onClick="insertLink('article', {article_id}); return false;">
                		<img src="images/icons/link.svg" height="10" alt="anchor" title="{insert_as_link_msg}"></a>

					<a href="" onClick="removeHtml(this, '{sure_common_msg}'); return false;">
						<img src="images/icons/delete.svg" height="9" alt="delete" title="{delete_msg}"></a>
                </div>
            </div>

        </tmpl:related_row>

        <span id="writeroot_article"></span>

    </td>
</tr>

<tr class="trLighter" id="custom_field_bottom_border">
    <td class="tdFormCaption tdCaptionTop">{attachment_msg}:</td>
    <td>
        <div style="padding-bottom: 3px;">
        <!-- <a href="javascript:PopupManager.create('{attachment_popup_link}', 'r', 'r');" title="{add_new_msg}">
            <img src="images/icons/add_new.svg" alt="{add_new_msg}"></a> -->
		<input type="button" value="+" title="{add_new_msg}" class="button2 button2_add"
    		onclick="PopupManager.create('{attachment_popup_link}', 'r', 'r');" />
        </div>

        <tmpl:attachment_row>

            <div class="popUpDiv">
                <div style="float: left;">
                	<input type="hidden" name="attachment[]" value="{attachment_id}"><span>{filename}</span>
                </div>
                <div align="right">
					<a id="" href="" style="margin: 0px 7px;"
						onClick="insertLink('file', '{attachment_id}'); return false;">
                		<img src="images/icons/link.svg" height="10" alt="anchor" title="{insert_as_link_msg}"></a>

					<a href="" onClick="removeHtml(this, '{sure_common_msg}'); return false;">
						<img src="images/icons/delete.svg" height="9" alt="delete" title="{delete_msg}"></a>
                </div>
            </div>

        </tmpl:attachment_row>

        <span id="writeroot"></span>

    </td>
</tr>

{custom_field_block_bottom}

</table>

</div>
<!-- /tab 1 -->

<!-- tab 2 -->
<div id="tab-2">

<table border=0 width="100%" cellpadding="5" cellspacing="1">
<tr>
    <td colspan="2" class="tdTitle"><b>{action_title}</b></td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{meta_description_msg}:</td>
    <td>
        <textarea cols="80" rows="2" name="meta_description" style="width: 100%;">{meta_description}</textarea>
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{external_links_msg}:</td>
    <td>
        <span class="hasTooltip" style="width: 95%;">
            <textarea cols="80" rows="3" name="external_link" style="width: 100%;">{external_link}</textarea>
        </span>
       <span class="tooltip" style="width: 5%;text-align: right;">{external_link_tip_msg}</span>
    </td>
</tr>

<tmpl:entry_view>
<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{sort_order_msg}:</td>
    <td>
        <div id="sort_order_toggle_title" class="formToggleBlockTitle"
            onclick="toggleBlock('sort_order');">
            <span>{sort_order_msg}</span>
        </div>

        <div id="sort_order_toggle_block" class="formToggleBlockBody" style="display: none;">
            <div id="sort_order_div">
                <span id="writeroot_sort">
                    <tmpl:sort_order_row>
                        {sort_order_select}
                    </tmpl:sort_order_row>
                </span>
            </div>
        </div>

    </td>
</tr>
</tmpl:entry_view>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{private_msg}:</td>
    <td>
        {block_private_tmpl}
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{schedule_msg}:</td>
    <td>
        {block_schedule_tmpl}
    </td>
</tr>

</table>

<!-- /tab 2 -->
</div>

<!-- tabs -->
</div>



<!-- status on every tab page -->
<tmpl:entry_view>
<div style="">

    <table border=0 width="100%" cellpadding="5" cellspacing="1">
    <tr class="trLighter">
        <td class="tdFormCaption">{entry_status_msg}:</td>
        <td>
            <select name="active" id="active" style="width: 300px">
                {status_select}
            </select>
        </td>
    </tr>
    </table>
</div>
</tmpl:entry_view>

<!-- history comment -->
<div id="history_comment" style="display: {h_display};">
    <table border=0 width="100%" cellpadding="5" cellspacing="1">
    <tr class="trLighter">
        <td class="tdFormCaption"></td>
        <td style="border: 2px #F60 solid;">
            <div style="padding-top: 5px; padding-bottom: 3px;">
                <b>{revision_comment_msg}:</b><br />
                {revision_comment_desk_msg}.
            </div>
            <input type="hidden" name="history_flag" id="history_flag" value="{history_flag}" />
            <textarea cols="80" rows="4" name="history_comment" style="width: 100%;">{history_comment}</textarea>
        </td>
    </tr>
    </table>
</div>

<div id="lower_tabs" style="border-top: 1px solid #8592A2;margin-top: 10px;">
    <ul class="ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
       <li class="ui-state-default ui-corner-top ui-state-active lowerTab lowerTabSelected">
           <a href="#tab-1" class="lower_tabs"><span>{tab_main_msg}</span></a>
       </li>
       <li class="ui-state-default ui-corner-top lowerTab">
           <a href="#tab-2" class="lower_tabs"><span>{tab_advanced_msg}</span></a>
       </li>
    </ul>
</div>

<tmpl:entry_view>
<div style="padding: 20px 0px 0px 170px;">
    <div id="bottom_button">
        <div id="div_entry_submit">

            <div id="autosave_infoblock" class="bbInfo"></div>

            <div>
                <input type="submit" name="submit" value="{button_text}" class="button"
                    onClick="validateForm();return false;" />

                <input type="button" value="{cancel_msg}" class="button"
                    onClick="cancelHandler('{cancel_link}');" />

                <tmpl:draft_button>
                <input type="submit" name="submit_draft" id="submit_draft" value="{save_as_draft_msg}" class="button"
                    onclick="validateForm('submit', 'validate', 'draftValidateCallback');return false;" />
                </tmpl:draft_button>

                <span style="margin-left: 25px;">
                    <input type="button" value="{preview_msg}" class="button"
                        onClick="PopupManager.create('{preview_link}', 'r', 'r');" />
                </span>

                <tmpl:continue_update>
                <div style="margin-top: 8px;" class="bbInfo">
                    <input type="checkbox" name="continue_update" value="1" id="save_update" />
                    <label for="save_update">{save_update_msg}</label>
                </div>
                </tmpl:continue_update>
            </div>

        </div>
    </div>
</div>

</form>

{related_templates}
</tmpl:entry_view>