<script type="text/javascript">
    $(document).ready(function() {
        $('#open_button').focus();
    });
</script>

{msg}

{error_msg}

<!-- onSubmit="return validate_employee_form({is_admin});" -->
<form action="{action_link}" method="post" name="" id="">
{hidden_fields}

<table border=0 cellpadding="5" cellspacing="1" width="100%">
<tr> 
    <td colspan="2" class="tdTitle" style="padding: 1px;"></td>
</tr>

<tr class="trMoreDarker">
    <td width="150">{id_msg}:</td>
    <td>{id}</td>
</tr>
<tr class="trMoreDarker">
    <td>{title_msg}:</td>
    <td>{title}</td>
</tr>
<tr class="trMoreDarker">
    <td>{entry_saved_date_msg}:</td>
    <td>{article_date_period} ({article_date_formatted})</td>
</tr>
<tr class="trDarker">
    <td>{autosave_saved_date_msg}:</td>
    <td>{autosave_date_period} ({autosave_date_formatted})</td>
</tr>

<tr> 
    <td colspan="2" align="center"><div><br></div>

        <input type="button" value="{autosave_open_msg}" id="open_button" class="button"
            onClick="{open_link}">
            
        <input type="submit" name="submit" id="submit" value="{autosave_ignore_msg}" class="button"
            onClick="return confirmForm('{sure_common_msg}', 'submit');">
        
        <input type="button" value="{cancel_msg}" 
            onClick="{cancel_link}" class="button">
    
    </td>
</tr>
</table>
</form>