<script type="text/javascript">
$(document).ready(function() {
    PopupManager.setTitle("{popup_title}");

    parent_window = PopupManager.getParentWindow();
    parent_window.$('#popupModalDiv1').on('dialogclose', refreshPage);
    
    $('.bottom_button input').click(refreshPage);
});

function refreshPage() {
    parent_window.location.href = '{featured_url}';
    PopupManager.close();
}
</script>

{header}

<div id="afterActionMessage" style="display: none;">
    {after_action_message_block}
</div>

<table border=0 width="100%" cellpadding="4" cellspacing="1" class="tdBorder">
<tr class="tdTitle">

    <td width="1" class="tdTitle">{id_msg}</td>
    <td width="1"></td>
    <td width="1"></td>

    <td>{entry_title_msg}</td>
    <td>{category_msg}</td>

    <tmpl:rating></tmpl:rating>
    <tmpl:comment></tmpl:comment>
    <tmpl:attachment></tmpl:attachment>

    <td width="1">{entry_status_msg}</td>
    <td width="1" align="center">{index_page_msg}</td>
    <td width="1" align="center">{category_page_msg}</td>
    <td align="center" width="1">{action_msg}</td>
</tr>

<tmpl:row>
<tr class="{class}" style="{style}">

    <td width="1" align="right"><b>{id}</b></td>

    <td width="1">
        <tmpl:if_schedule>
        <img src="images/icons/clock.svg" width="10" height="10" alt=""
            class="_tooltip" title="{schedule_msg}" />
        </tmpl:if_schedule>
    </td>

    <td width="1" align="center">
        <tmpl:if_private>
        <img src="images/icons/lock2_{image_color}.svg" width="12" height="12" alt="key" 
            class="_tooltip" title="<b>{private1_msg}</b><br/>{roles_msg}" />
        </tmpl:if_private>
    </td>

    <td>
        <a href="{entry_link}" target="_blank" style="{style}" title="{title}">{short_title}</a>
    </td>

    <td>
        <a href="{category_filter_link}" style="{style}" 
            class="_tooltip" title="{full_category}">{category}</a>
    </td>

    <td align="center">
        <div class="status help" style="width: 15px;">
            <div title="{status}" style="background: {color};">&nbsp;&nbsp;</div>
        </div>
    </td>

    <tmpl:assign>
    <td align="center" width="1">
        <a id="featured_link_{category_id}_{id}" href="#" 
			onClick="xajax_featureArticle('{id}', '{category_id}', '{new_value}'); return false;">
	            <img src="images/icons/attach.svg" width="14" height="14" title="{assign_msg}" 
					class="featured_img_assign" style="display: {assign_display};" />
	            <img src="images/icons/check.svg" width="14" height="14" title="{remove_msg}" 
					class="featured_img_remove" style="display: {remove_display};" />
        </a>
    </td>
    </tmpl:assign>

    <td align="center" width="1">
        <a href="{featured_link}" title="{update_msg}">
            <img src="images/icons/edit.svg" width="14" height="14" alt="edit" />
        </a>
    </td>

</tr>
</tmpl:row>

</table>

<div class="bottom_button bb_popup">
    <input type="button" value="{done_msg}" class="button" />
</div>

<tmpl:bulk></tmpl:bulk>
<tmpl:sort_order></tmpl:sort_order>
<tmpl:attach></tmpl:attach>