<script type="text/javascript">
$(document).ready(function() {
    PopupManager.setTitle("{popup_title}");

    var parent_window = PopupManager.getParentWindow();
    parent_window.$('body').trigger('kbpArticlePopupOpened');
    
    if (parent_window.CKEDITOR) {
        var editor = parent_window.CKEDITOR.instances.body;
        if (editor) {
            var selection = editor.getSelection().getNative();
        
            if (selection) {
                var text = (selection.createRange) ? selection.createRange().text : selection;
                var text = String(text);
            
                if (text.length != 0) {
                    $('td.insert_td').show();
                    
                    if ($('td.attach_td').length) {
                        $('#action_td').attr('colspan', 2);
                    }
                }
            }
        }
    }
});

function confirmNotPublishedEntry(msg, link) {
    confirm2(msg, function() {
        document.location.href = link;
    });
}

function insertLink(id) {
    var data = {
        field: 'article',
        value_id: id,
        do_confirm: false
    }
    
    window.top.oEditor.execCommand('insertLink', data);
    
    if (window.top.checkFckChanges) {
        window.top.checkFckChanges();
    }
    
    PopupManager.close();
}

function attachEntry(id, title, link) {
    var parent_window = PopupManager.getParentWindow();
    parent_window.$('body').trigger('kbpArticleSelected', [{id: id, title: title}]);
    
    //disableLink(link);
}
</script>

{header}

<div id="afterActionMessage" style="display: none;">
    {after_action_message_block}
</div>

<table border=0 width="100%" cellpadding="4" cellspacing="1" class="tdBorder">
<tr class="tdTitle">

    <td width="1" class="tdTitle">{id_msg}</td>
    <td width="1"></td>
    <td width="1"></td>

    <td>{entry_title_msg}</td>
    <td>{category_msg}</td>

    <tmpl:rating></tmpl:rating>
    <tmpl:comment></tmpl:comment>
    <tmpl:attachment></tmpl:attachment>

    <td width="1">{entry_status_msg}</td>
    <td width="1" id="action_td" colspan="{action_colspan}" align="center">{action_msg}</td>
</tr>

<tmpl:row>
<tr class="{class}" style="{style}">

    <td width="1" align="right"><b>{id}</b></td>

    <td width="1">
        <tmpl:if_schedule>
        <img src="images/icons/clock.svg" width="10" height="10" alt=""
            class="_tooltip" title="{schedule_msg}" />
        </tmpl:if_schedule>
    </td>

    <td width="1" align="center">
        <tmpl:if_private>
        <img src="images/icons/lock2_{image_color}.svg" width="12" height="12" alt="key" 
            class="_tooltip" title="<b>{private1_msg}</b><br/>{roles_msg}" />
        </tmpl:if_private>
    </td>

    <td>
        <a href="{entry_link}" {attr} style="{style}" title="{title}">{short_title}</a>
    </td>

    <td>
        <span class="_tooltip" title="{full_category}">{category}</span>
    </td>

    <td align="center">
        <div class="status help" style="width: 15px;">
            <div title="{status}" style="background: {color};">&nbsp;&nbsp;</div>
        </div>
    </td>
    
    <tmpl:insert>
    <td align="center" width="1" class="insert_td" style="display: none;">
        <a href="" title="{insert_as_link_title_msg}"
            onClick="insertLink('{id}'); return false;">
            <img src="images/icons/link.svg" width="14" height="14" alt="{insert_as_link_msg}" style="padding: 0px 4px;" />
        </a>
    </td>
    </tmpl:insert>
    
    <tmpl:attach>
    <td align="center" width="1" class="attach_td">
        <a href="#" id="attach_link_{id}" title="{insert_as_attachment_title_msg}" 
            onClick="attachEntry('{id}', '{escaped_title}', this); return false;">
            <img src="images/icons/attach.svg" width="14" height="14" id="insert_img_{id}" alt="{insert_as_attachment_msg}" 
                style="padding: 0px 4px;" />
            <img src="images/icons/check.svg" id="inserted_img_{id}" 
				style="display: none; padding: 0px 4px;" />
        </a>
    </td>
    </tmpl:attach>

</tr>
</tmpl:row>

</table>

<tmpl:close_button>
<div class="bottom_button bb_popup">
    <input type="button" value="{done_msg}" class="button" onclick="PopupManager.close();" />
</div>
</tmpl:close_button>
        
<tmpl:bulk></tmpl:bulk>
<tmpl:sort_order></tmpl:sort_order>
<tmpl:attach></tmpl:attach>