<form action="" style="margin: 0px;">
{hidden_fields}

<table id="filter_tbl">
<tr>    
    <td>
        <div>{entry_status_msg}:</div>
        <select name="filter[s]" class="colorInput" style="width: 150px;">
        {status_select}
        </select>
    </td>
    
    <td>
        <div>{directory_msg}: ({search_wildcard_help_msg})</div>
        <input type="text" name="filter[q]" value="{q}" class="colorInput" style="width: 200px;">
    </td>
    
    <td>
        <button type="submit" name="do_search" value="1" 
            class="button2 button2_filter">&rarr;</button>
    </td>
</tr>
</table>

</form>
