<link rel="stylesheet" type="text/css" href="../client/skin/jquery/tooltipster/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-kbp_title.css">

{menu_block}
{error_msg}
{hint}

<!-- onSubmit="return validate_employee_form({is_admin});" -->
<form action="{action_link}" method="post" id="aContentForm" onsubmit="LeaveScreenMsg.skipCheck();" autocomplete="off">
{hidden_fields}

<table border=0 cellpadding="5" cellspacing="1" width="100%">
<tr>
    <td colspan="2" class="tdTitle"><b>{action_title}</b> &nbsp;</td>
</tr>

<tmpl:not_account>
<tr class="trMoreDarker">
    <td>{username_msg}:</td>
    <td>{username}</td>
</tr>
</tmpl:not_account>

<tmpl:old_password>
<tr class="trLighter">
    <td class="tdFormCaption">{password_current_msg}: {required_sign}</td>
    <td>
        <input type="password" name="password_old" id="password_old" class="longText">
    </td>
</tr>
</tmpl:old_password>

<tr class="trLighter">
    <td class="tdFormCaption">{password_msg}: {required_sign}</td>
    <td>
        <input type="password" name="password" id="password" class="longText" />
        {generate_pass_block}
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{password_repeat_msg}: {required_sign}</td>
    <td><input type="password" name="password_2" id="password_2" class="longText"></td>
</tr>

<tmpl:not_account>
<tr class="trLighter">
    <td class="tdFormCaption">{notify_user_msg}:</td>
    <td valign="top">
        <input type="checkbox" name="notify" id="notify" value="1" {notify_ch}>
        <label for="notify">{yes_msg}</label>
    </td>
</tr>
</tmpl:not_account>

<tr>
    <td></td>
    <td><div><br></div>
        <div id="bottom_button">
            <input type="submit" name="submit" value="{save_msg}" class="button"
                onClick="validateForm();return false;" />
            
            <tmpl:cancel_btn>
            <input type="button" value="{cancel_msg}"  class="button"
                onClick="LeaveScreenMsg.skipCheck(); location.href='{cancel_link}'">
            </tmpl:cancel_btn>
        </div>
    </td>
</tr>
</table>
</form>
