<script src="jscript/bulk.js" type="text/javascript"></script>
<script src="jscript/CategoriesSelectHandler.js" type="text/javascript"></script>
<script type="text/javascript">
<!--
window.selHandler = new CategoriesSelectHandler('role');

function setSortOrder(action) {}

function changeRoleAction(value) {
    if (value != 'remove') {
        $('#bulk_role_select').show();
    } else {
        $('#bulk_role_select').hide();
    }
}

function changeSubscriptionAction(value) {
    if (value != 'remove') {
        $('#bulk_subs_select').show();
    } else {
        $('#bulk_subs_select').hide();
    }
}

function BulkOnSubmit() {
    selHandler.selectAll();
}

function bulkValidate(action) {

    if (action == 'role') {
        var ra = $("#role_action").val();

        if (ra == 'set' || ra == 'add') {
            if (!$("#role").find('option').length) {
                alert("{no_bulk_values_msg}");
                return false;
            }
        }

    }

    return true;
}
//-->
</script>

<table border=0 cellpadding="4" cellspacing="0" width="100%">
<tr class="trDarker" valign="top">
    <td class="bulkArrow"><img src="images/icons/arrow_1b.svg" width="14" height="14" alt=""></td>
    <td>
        <select name="bulk_action" id="bulk_action" class="colorInput" style="width: 250px;"
            onchange="showAction(this.value, Array({bulk_actions}))">
            {action_select}
        </select>
    </td>
    <td>

        <div id="bulk_priv" style="display: none;">
            <select name="value[priv]" class="colorInput" style="width: 250px;" {priv_select_option}>
                {priv_select}
            </select>
            <div style="color:#ff0000; padding-top: 3px;">{license_limit_user_msg}</div>
        </div>

        <div id="bulk_role" style="display: none;">
            <select class="colorInput" style="width: 400px;" name="value[role_action]" id="role_action"
                onchange="changeRoleAction(this.value);">
                {role_action_select}
            </select>

            <div style="width: 450px;margin-top: 10px;display: none;" id="bulk_role_select">
                <div style="padding-left: 5px; width: 45px; float: right;">
                    <input type="button" value="+"
                        class="button2 button2_bulk"
                        onclick="selHandler.callPopUp('users', 'user', 'role');" /><br />
                    <input type="button" value="-"
                        class="button2 button2_bulk" style="margin-top: 3px;"
                        onclick="selHandler.deleteOption();" />
                </div>
                <div style="width: 400px;">
                    <select name="value[role][]" id="role" size="6"
                        style="width: 100%;" class="colorInput" multiple>
                    </select>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>

        </div>

        <div id="bulk_comp" style="display: none;">
            <select name="value[comp]" class="colorInput" style="width: 250px;">
                {company_select}
            </select>
        </div>

        <div id="bulk_status" style="display: none;">
            <select name="value[status]" class="colorInput" style="width: 250px;">
                {status_select}
            </select>
        </div>

        <div id="bulk_subscription" style="display: none;">

            <select class="colorInput" style="width: 250px;" name="value[subscription_action]"
                onchange="changeSubscriptionAction(this.value);">
                {subscription_action_select}
            </select>

            <div style="margin-top: 10px; display: none;" id="bulk_subs_select">
                <div style="padding-bottom: 3px;">
                    <a href="javascript:selectAll(true, 'subscription'); void(0);">{all_msg}</a> |
                    <a href="javascript:selectAll(false, 'subscription'); void(0);">{none_msg}</a>
                </div>
                <select name="value[subscription][]" id="subscription" size="3" multiple
                    class="colorInput" style="width: 250px;">
                    {subscription_select}
                </select>
            </div>
        </div>

        <div id="bulk_delete" style="display: none;">

        </div>

    </td>
    <td>
        <div id="bulk_update" style="display: none;">
            <input type="submit" name="submit" value="{ok_msg}" class="button2 button2_bulk_submit" id="bulk_submit"
                onclick="bulkSubmit('{sure_common_msg}', '{no_checked_msg}');return false;">
        </div>
    </td>
    <td width="100%"></td>
</tr>
</table>
</form>