<script TYPE="text/javascript">
<!--
function assignUser(id, name) {
    var selector = '#{select_id}';
    var parent_window = PopupManager.getParentWindow();

    if (parent_window.$(selector).find('option[value="' + id + '"]').length == 0) {
        var option = '<option value="' + id + '">' + name + '</option>';
        var more_option = parent_window.$(selector).find('option[value="more"]');
        parent_window.$(option).insertBefore(more_option);
    }

    parent_window.$(selector).val(id);

    parent_window.$('#popupModalDiv1').off('dialogclose');

    PopupManager.close();
}

$(document).ready(function() {
    PopupManager.setTitle("{users_msg}");

    var parent_window = PopupManager.getParentWindow();

    parent_window.$('#popupModalDiv1').on('dialogclose', function() {
        var selector = '#{select_id} option:first';
        parent_window.$(selector).attr('selected','selected');
    });
});

//-->

</SCRIPT>

{header}

<table border=0 width="100%" cellpadding="4" cellspacing="1" class="tdBorder">
<tr class="tdTitle">
    <td class="tdTitle">{name_msg}</td>
    <td>{username_msg}</td>
    <tmpl:role><td>{role_msg}</td></tmpl:role>
    <td>{priv_msg}</td>

    <td width="1">{entry_status_msg}</td>
    <td align="center">{action_msg}</td>
</tr>

<tmpl:row>
<tr class="{class}" style="{style}">

    <td>{name}</td>
    <td>{username}</td>

    <tmpl:role>
    <td>
        <span class="_tooltip" title="{full_role}">{role}</span>
    </td>
    </tmpl:role>

    <td>{privilege}</td>

    <td align="center">
        <div class="status help" style="width: 15px;">
            <div title="{status}" style="background: {color};">&nbsp;&nbsp;</div>
        </div>
    </td>

    <td align="center">
        <a href="" title="{assign_msg}" onClick="assignUser('{id}', '{escaped_name}'); return false;">
            <img src="images/icons/attach.svg" width="14" height="14" alt="{assign_msg}" />
            <tmpl:if_api></tmpl:if_api>
        </a>
    </td>
</tr>

<tmpl:if_subscription></tmpl:if_subscription>
</tmpl:row>

</table>

<div class="bottom_button bb_popup">
    <input type="button" value="{close_msg}" class="button" onclick="PopupManager.close();" />
</div>

<tmpl:bulk></tmpl:bulk>