<script TYPE="text/javascript">
<!--
$(document).ready(function() {
    PopupManager.setTitle("{users_msg}");

    var parent_window = PopupManager.getParentWindow();

    s = new getMoreHtml();
    s.readroot = parent_window.document.getElementById('readroot');
    s.writeroot = parent_window.document.getElementById('writeroot');

    s.max_allowed = {max_allowed};

    s.confirm_use = false;
    s.confirm_msg = '';

    var selector = 'input[name="{field_name}[]"]';
    parent_window.$(selector).each(function() {
        //$('#action_' + this.value).hide();
        $('#action_' + this.value).attr('data-attach', 0);
        $('#action_' + this.value).find('img').attr('src', 'images/icons/check.svg');
    });

    //we can reassign functions!!!
    //s.confirmAction = function() {
    //    alert('blah');
    //}

    parent_window.$('body').trigger('kbpUserPopupOpened');
});

function attachEntry(id, title, link) {
    var flag = $('#action_' + id).attr('data-attach');
    var selector = 'input[name="{field_name}[]"][value=' + id + ']';

    if (flag == 1) {
        if (window.top.$(selector).length == 0) {
            s.get(id, title);

            //disableLink(link);
            //$(link).hide();
            $('#action_' + id).attr('data-attach', 0);
            $('#action_' + id).find('img').attr('src', 'images/icons/check.svg');

            window.top.LeaveScreenMsg.changes = true;

            if({close_on_action}) {
                PopupManager.close();
            }
        }
    } else {
        window.top.$(selector).parent().parent().remove();
        $('#action_' + id).attr('data-attach', 1);
        $('#action_' + id).find('img').attr('src', 'images/icons/attach.svg');
    }

    window.top.$('body').trigger('kbpUserSelected', [{id: id, title: title, flag: flag}]);
}
//-->

</SCRIPT>

{header}

<div id="afterActionMessage" style="display: none;">
    {after_action_message_block}
</div>

<table border=0 width="100%" cellpadding="4" cellspacing="1" class="tdBorder">
<tr class="tdTitle">
    <td class="tdTitle">{name_msg}</td>
    <td>{username_msg}</td>
    <td>{role_msg}</td>
    <td>{priv_msg}</td>

    <td width="1">{entry_status_msg}</td>
    <td width="1" align="center">{action_msg}</td>
</tr>

<tmpl:row>
<tr class="{class}" style="{style}">
    <td>{name}</td>
    <td>{username}</td>

    <td>
        <span class="_tooltip" title="{full_role}">{role}</span>
    </td>

    <td>{privilege}</td>

    <td align="center">
        <div class="status help" style="width: 15px;">
            <div title="{status}" style="background: {color};">&nbsp;&nbsp;</div>
        </div>
    </td>

    <td align="center">
        <a href="" id="action_{id}" title="{assign_msg}"
			onClick="attachEntry('{id}', '{escaped_name}', this); return false;" data-attach="1">
            <img src="images/icons/attach.svg" width="14" height="14" alt="{assign_msg}" />
            <tmpl:if_api></tmpl:if_api>
        </a>
    </td>
</tr>

<tmpl:if_subscription></tmpl:if_subscription>
</tmpl:row>

</table>

<div class="bottom_button bb_popup">
    <input type="button" value="{done_msg}" class="button" onclick="PopupManager.close();" />
</div>

<tmpl:bulk></tmpl:bulk>