<script type="text/javascript">
<!--
//function validate() {
    
//}

function goNextPage() {
    showLoadingMsg(function() {
        f = document.getElementById('setup_form');
        f.submit(true);
    });
}
//-->
</script>

{user_msg}

<tmpl:install>
<!-- <b>{num_1}. {create_db_msg}:</b>
<div style="padding-top: 3px;">{create_sql_command}</div>

<div style="padding-bottom: 5px;"><b>2. {fill_db_msg}:</b></div> -->

<div style="padding-bottom: 10px;">{phrase_msg}</div>
</tmpl:install>

<fieldset><legend><b>{fill_db_msg}:</b></legend>
<table border="0" width="100%" cellpadding="3" cellspacing="1">
<tr>
    <td class="tdFormCaption">{db_driver_msg}: {required_sign}</td>
    <td>{db_driver_select}</td>
</tr>
<tr>
    <td class="tdFormCaption">{db_host_msg}: {required_sign}</td>
    <td><input type="text" name="db_host" value="{db_host}" class="normalText"></td>
</tr>
<tr>
    <td class="tdFormCaption">{db_base_msg}: {required_sign}</td>
    <td><input type="text" name="db_base" value="{db_base}" class="normalText"></td>
</tr>
<tr>
    <td class="tdFormCaption">{db_user_msg}: {required_sign}</td>
    <td><input type="text" name="db_user" value="{db_user}" class="normalText"></td>
</tr>
<tr>
    <td class="tdFormCaption">{db_pass_msg}:</td>
    <td><input type="text" name="db_pass" value="{db_pass}" class="normalText"></td>
</tr>
<tr>
    <td class="tdFormCaption">{tbl_pref_msg}:</td>
    <td><input type="text" name="tbl_pref" value="{tbl_pref}" class="normalText"></td>
</tr>
</table>
</fieldset>