.split_button {
    position: relative;
    display: inline-block;
}

.split_button button {
    margin-left: -4px;
    min-width: 26px;
    padding: 6px 7px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: 0;
}

.split_button li {
    padding: 3px 40px 3px 15px;
    white-space: nowrap;
    cursor: pointer;
}

.split_button li:hover {
    background-color: #f2f2f2;
}

#submit_button {
    font-size: 12px;
    margin-right: 0;
    position:relative;
    min-width: 104px;
}

.split_button ul {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    margin: 2px 0 0;
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    
    content: "";
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.open > .dropdown-menu {
    display: block;
}