.lowerTab {
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0 none !important;
    border-bottom: 1px solid #D3D3D3 !important;
    list-style: none;
    float: left;
    position: relative;
    margin: 0 .2em 1px 0;
    padding: 0;
    white-space: nowrap;
}

.lower_tabs {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
}


.lowerTabSelected {
    margin-bottom: 0;
    padding-bottom: 1px;
    padding-top: 2px;
    margin-top: 0px;
    bottom: 1px;
}