{header}

<table border=0 width="100%" cellpadding="4" cellspacing="1" class="tdBorder">
<tr class="tdTitle">
    <td class="tdTitle" width="200">{title_msg}</td>
    <td>{description_msg}</td>
    <td width="1">{sort_order_msg}</td>
    
    <td width="1">{status_msg}</td>
    <td align="center" width="1">{action_msg}</td>
</tr>

<tmpl:row>
<tr class="{class}" style="{style}" onDblClick="RecordToDo('{update_link}')">
    <td nowrap>{title}</td>
    <td>{description}</td>
    <td align="center">{sort_order}</td>
    
    <td align="center">{active_img}</td>
    <td class="action" align="center" width="1">{options_img}</td>
</tr>
</tmpl:row>

</table>