<div class="nonPrintable" style="margin-bottom: 7px;" id="filter_div">
<table cellspacing="0" cellpadding="0" width="100%" border="0">
<tr>
    <td valign="bottom">{left_side}</td>
    <td valign="top" align="right" style="padding-top: 15px;">{add_link}</td>
</tr>
</table>
</div>


<tmpl:by_page>
<div style="margin-bottom: 10px;">
{by_page_tpl}
</div>
</tmpl:by_page>

<tmpl:bulk_form>
<form action="{bulk_form_action}" method="post" name="bulk_form" id="bulk_form" 
    onsubmit="return BulkOnSubmit();">
{hidden_fields}
</tmpl:bulk_form>