<!DOCTYPE HTML>
<html>
<head>
    <title>{login_title_msg}</title>
    <meta http-equiv="content-type" content="text/html; charset={meta_charset}">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <script src="jscript/common.js" type="text/javascript"></script>
    <script src="../client/jscript/jquery/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
    <!--
    $(document).ready(function(){
        $('#screen_width').val(screen.width);
    });
    //-->
    </script>
</head>
<body onload="SetFocus('login_username')">

    <div class="form-bg">

        <div>{error_msg}</div><br />


        <form action="" method="post" name="loginForm" id="loginForm"> 
        <input type="hidden" name="screen_width" id="screen_width" value="" />

        <!-- <img src="images/logo/logo_small.gif" alt=""></td> -->
        <h2>{login_title_msg}</h2>

        <p>
            <input type="text" name="login_username" id="login_username" 
                value="{login_username}" size="31" placeholder="{login_username_msg}" />
        </p>

        <p>
            <td><input type="password" name="login_password" value="" 
                size="31" placeholder="{password_msg}" /></td>
        </p>
         
        <tmpl:captcha>
        <p><br />
            <img src="{captcha_src}" alt="code" />
            <input type="text" name="captcha" id="captcha" value="" />
            <div style="margin: 0px 28px 20px; text-align: left;">
                {captcha_comment_msg}
            </div>
        </p>
        </tmpl:captcha>
    

        <input type="submit" name="login" value="{login_msg}" class="myButton" />
             
        <br /><br />
        <tmpl:forgot_password>
            <a href="{forgot_password_link}">{forgot_password_msg}</a> |
        </tmpl:forgot_password>
        <a href="{cancel_link}">{public_area_msg}</a>
        
        </form>     
          
        <tmpl:sso_link>
        <br/>
        <form action="" method="post" name="loginFormSaml" id="loginFormSaml"> 
        
        <br/>
        <input type="button" value="{login_via}" 
            onclick="location.href='{sso_link}'; return false;"
            class="myButton" />
        
        </form>     
        </tmpl:sso_link>
         
        <div style="font-size: smaller; padding: 10px;">
            <a href="{product_www}" target="_blank">{product_name} {product_version}</a>
        </div>
                       
    </div>
          
        
    <tmpl:demo>

        <br /><br />
        <table width="400" cellpadding="3" cellspacing="1">
    
        <tr bgcolor="#c6c6c6"><td colspan="2"><b>To enter as Admin:</b></td></tr>
        <tr bgcolor="#e4e4e4"><td>Login:</td><td>admin</td></tr>
        <tr bgcolor="#e4e4e4"><td>Password:</td><td>demo</td></tr>
    
        <tr><td colspan="2"></td></tr>
    
        <tr bgcolor="#c6c6c6"><td colspan="2"><b>To enter as Moderator:</b></td></tr>
        <tr bgcolor="#e4e4e4"><td>Login:</td><td>moderator</td></tr>
        <tr bgcolor="#e4e4e4"><td>Password:</td><td>demo</td></tr>        
    
        <tr><td colspan="2"></td></tr>
    
        <tr bgcolor="#c6c6c6"><td colspan="2"><b>To enter as Editor:</b></td></tr>
        <tr bgcolor="#e4e4e4"><td>Login:</td><td>editor</td></tr>
        <tr bgcolor="#e4e4e4"><td>Password:</td><td>demo</td></tr>            
    
        <tr><td colspan="2"></td></tr>
    
        <tr bgcolor="#c6c6c6"><td colspan="2"><b>To enter as Author:</b></td></tr>
        <tr bgcolor="#e4e4e4"><td>Login:</td><td>author</td></tr>
        <tr bgcolor="#e4e4e4"><td>Password:</td><td>demo</td></tr>                
    
        <tr><td colspan="2"></td></tr>
    
        <tr bgcolor="#c6c6c6"><td colspan="2"><b>To enter as Contributor:</b></td></tr>
        <tr bgcolor="#e4e4e4"><td>Login:</td><td>contributor</td></tr>
        <tr bgcolor="#e4e4e4"><td>Password:</td><td>demo</td></tr>                
    
        </table>

    </tmpl:demo>


</body>
</html>