<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={meta_charset}"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="none">
    <title>{meta_title}</title>
    <link rel="stylesheet" type="text/css" href="{base_href}admin/css/style.css">
    <link rel="stylesheet" type="text/css" href="{base_href}client/skin/jquery-ui/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{base_href}admin/css/jquery/smoothness/custom.css">
    
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="{base_href}admin/css/style_ie.css">
    <![endif]-->
    
    <script src="{base_href}admin/jscript/common.js" type="text/javascript"></script>
    <script src="{base_href}admin/jscript/popup.js" type="text/javascript"></script>    
    <script src="{base_href}admin/jscript/PopupManager.js" type="text/javascript"></script>
    
    <script src="{base_href}client/jscript/jquery/jquery.js" type="text/javascript"></script>
    <script src="{base_href}client/jscript/jquery/jquery-ui.js" type="text/javascript"></script>
    <script src="{base_href}client/jscript/jquery/tooltipster.bundle.min.js" type="text/javascript" ></script>
    
    <script type="text/javascript">        
        $(document).ready(function() {
            setDebug({debug});
            
            window.top.$('#loadingMessage').remove();
            
            showGrowl("{growl_show}", "{growl_title}", "{growl_body}");
            
            PopupManager = window.top.PopupManager;
            $('body').bind('keydown', function(e) {
                PopupManager.checkForEscapeKey(e);
            });
        });
    </script>
</head>
<body> 

<div id="spinner" style="margin: 7px 0px 0px 7px; display: none; position: absolute;">
    <img src="{base_href}admin/images/ajax/indicator.gif" />
</div>
    
<div style="padding: 0px 15px;">

    <br/>
    {module_msg}
    {info_msg}
    {content}

</div>

{xajax_js}

</body>
</html>