<div style="padding: 5px; margin: 10px 0px; width: 100%;">
    <div style="padding: 1px; background: #F4F4F4; border: 1px solid #BFBFBF">
        <table border="0" width="100%" cellpadding="1" cellspacing="0">

        <tmpl:row_tr>
        <tr valign="top">

            <tmpl:row_td>
                <td width="{td_width}%" colspan="{td_colspan}">
                    <div style="padding: 3px; background: #E4E4E4;">
                        {title}:
                    </div>
                    <div style="padding: 5px;">
                        {input}
                    </div>
                </td>
            </tmpl:row_td>

        </tr>
        </tmpl:row_tr>

        </table>
    </div>
</div>

<!-- <div>
    <input type="submit" name="submit" value="{search_msg}" class="button">
    <input type="button" value="{hide_msg}" class="button"
        class="button2 button2_filter" onclick="ToogleAdvancedSearch();">
</div> -->