<script type="text/javascript">
    function subForm() {
        selHandler.selectAll();       
    }
</script> 

{msg}

{error_msg}

<form action="{action_link}" method="post" name="" id="aContentForm" onsubmit="subForm();">
{hidden_fields}

<table border=0 cellpadding="5" cellspacing="1" width="100%">
<tr> 
    <td colspan="2" class="tdTitle" style="padding: 1px;"></td>
</tr>

<tr class="trMoreDarker">
    <td width="150">{id_msg}:</td>
    <td>{entry_id}</td>
</tr>
<tr class="trMoreDarker">
    <td>{type_msg}:</td>
    <td>{type}</td>
</tr>
<tr class="trMoreDarker">
    <td>{date_deleted_msg}:</td>
    <td>{formatted_date}</td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{category_msg}: {required_sign}</td>
    <td colspan="2">
        {category_block_tmpl}
    </td>
</tr>

<tr> 
    <td></td>
    <td><div><br></div>

        <input type="submit" name="submit" value="{ok_msg}" class="button" />      
        
        <input type="button" value="{cancel_msg}" 
            onClick="location.href='{cancel_link}'" class="button">
    </td>
</tr>
</table>
</form>