{error_msg}
<script type="text/javascript" src="tools/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="tools/ckeditor_custom/CKDropUploader.js"></script>
<script type="text/javascript">
    CKEDITOR.on('instanceReady', function(evt) {
        //CKDropUploader.init(1);
        //CKDropUploader.setUploadUrl('{ck_drop_upload_url}');
        
        LeaveScreenMsg.setEditor(evt.editor);
        oEditor = evt.editor;
        LeaveScreenMsg.setFckDefaultValue();
        
        evt.editor.on('dialogShow', function(dialogShowEvent) {
            if(CKEDITOR.env.ie) {
                $(dialogShowEvent.data._.element.$).find('a[href*="void(0)"]').removeAttr('href');
            }
        });
        
        $.waypoints('refresh');
        
        if (!$('#bottom_button').isOnScreen()) {
            setButtons('up');
        }
    });
        
</script>

<!-- onSubmit="return Validate(this);" -->
<form action="{action_link}" method="post" name="" id="aContentForm" onsubmit="LeaveScreenMsg.skipCheck();">
{hidden_fields}

<table border=0 width="100%" cellpadding="5" cellspacing="0">
<tr>
    <td colspan="2" class="tdTitle"><b>{action_title}</b></td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{title_msg}: {required_sign}</td>
    <td><input type="text" name="title" value="{title}" class="longText"></td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{key_msg}:</td>
    <td>
        <span class="hasTooltip">
	    	<input type="text" name="tmpl_key" value="{tmpl_key}" class="longText" />
		</span>
        <span class="tooltip">{tmpl_key_tip_msg}</span>
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{description_msg}:</td>
    <td>
        <textarea cols="80" rows="2" name="description" style="width: 100%;">{description}</textarea>
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop"> {template_msg}: {required_sign}</td>
    <td>{ckeditor}</td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{widget_msg}:</td>
    <td>
        <span class="hasTooltip">
	    	<input type="checkbox" name="is_widget" value="1" {ch_is_widget} /> {yes_msg}
		</span>
        <span class="tooltip">{widget_tip_msg}</span>
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{status_active_msg}:</td>
    <td>{status_checkbox}</td>
</tr>

<tr>
    <td></td>
    <td><div><br></div>
        <div id="bottom_button">
            <input type="submit" name="submit" value="{save_msg}" class="button"
                onClick="validateForm();return false;" />
                
            <input type="button" value="{cancel_msg}"  class="button" 
                onClick="LeaveScreenMsg.skipCheck(); location.href='{cancel_link}'">
        </div>        
    </td>
</tr>
</table>
</form>