<script type="text/javascript">
    $(document).ready(function() {
        PopupManager.setTitle("{open_template_msg}");
    });
    
    function setEntryTemplate(id, action) {
        window.top.xajax_setEntryTemplate(id, action);
        PopupManager.close();
    }
</script>

{header}

<table border=0 width="100%" cellpadding="4" cellspacing="1" class="tdBorder">
<tr class="tdTitle">
    <td width="1" class="tdTitle">{id_msg}</td>
    <td>{title_msg}</td> 
    <td>{description_msg}</td>
    <td width="1">{key_msg}</td>
    <td width="1" colspan="3" align="center">{action_msg}</td>
</tr>

<tmpl:row>
<tr class="{class}" style="{style}" onDblClick="RecordToDo('{update_link}')">

    <td  width="1" align="right"><b>{id}</b></td>
    <td>
        <span title="{preview_msg}" style="text-decoration: underline;cursor: pointer;" onclick="PopupManager.create('{preview_link}', false, false, {popup});">
            {title}
        </span>
    </td>
    <td>{description}</td>
    <td width="1">{tmpl_key}</td>
    
    <td width="1" align="center">
        <a href="" onClick="setEntryTemplate('{id}', 'insert'); return false;"     
            title="{insert_template_msg}">
            <img src="images/icons/assign_blue.svg" width="14" height="14" alt="{insert_template2_msg}" > 
        </a>
    </td>
    
    <td width="1" align="center">
        <a href="" onClick="setEntryTemplate('{id}', 'replace'); return false;"
            title="{replace_template_msg}">
            <img src="images/icons/assign_red.svg" width="14" height="14" alt="{replace_template2_msg}" >
        </a>
    </td>
    
    <td width="1" align="center">
        <a href="" onClick="setEntryTemplate('{id}', 'include'); return false;"
            title="{include_template_msg}">
            <img src="images/icons/assign_green.svg" width="14" height="14" alt="{include_template2_msg}" > 
        </a>
    </td>
    
</tr>
</tmpl:row>

</table>

<div class="bottom_button bb_popup">
    <input type="button" value="{close_msg}" class="button" onclick="PopupManager.close();" />
</div>
<tmpl:bulk></tmpl:bulk>