<script src="jscript/bulk.js" type="text/javascript"></script>
<script type="text/javascript" src="jscript/TagManager.js"></script>
<script type="text/javascript">
    function ShowExtraDiv(action) {
        if(action == 'custom') {
            xajax_parseCutomBulkAction({filtered_cat});
        }        
    }
    
    function BulkOnSubmit(){
        selRoleHandler.selectAll();
        selRoleWriteHandler.selectAll();
    }
    
    function bulkValidate(action) {
        
        if(action == 'tag') {
            var ta = $("#tag_action").val();
            if(ta == 'set' || ta == 'add') {
                if (!TagManager.tags.length) {
                    alert("{no_bulk_values_msg}");
                    return false;
                }
            }
        }
        
        return true;
    }
</script>

<table border=0 cellpadding="4" cellspacing="0" width="100%">
<tr class="trDarker" valign="top"> 
    <td class="bulkArrow"><img src="images/icons/arrow_1b.svg" width="14" height="14" alt=""></td>
    <td>
        <select name="bulk_action" id="bulk_action" class="colorInput" style="width: 250px;"
            onchange="showAction(this.value, Array({bulk_actions}))">
            {action_select}
        </select>
    </td>
    <td>    
        
        <tmpl:private>
        <div id="bulk_private" style="display: none;">
            {block_private_tmpl}
        </div>
        
        <div id="bulk_public" style="display: none;"></div>
        </tmpl:private>
		
        <div id="bulk_tag" style="display: none;">
            <div style="width: 450px;">
                <select name="value[tag_action]" id="tag_action" class="colorInput" style="width: 250px;" 
                    onchange="changeTagAction(this.value);">
                    {tag_action_select}
                </select>
				<div style="margin-top: 5px;">
                	{block_tag_tmpl}
            	</div>
			</div>
        </div>
        
        <div id="bulk_schedule" style="display: none;">
            <div style="width: 450px;">
                <select name="value[schedule_action]" class="colorInput" style="width: 250px;" onchange="$('#block_schedule').toggle();">
                    {schedule_action_select}
                </select>
                <div id="block_schedule">{block_schedule_tmpl}</div>
            </div>
        </div>     
        
        <div id="bulk_status" style="display: none;">
            <select name="value[status]" class="colorInput">
                {status_select}
            </select>
        </div>    
        
        <div id="bulk_delete" style="display: none;"></div>
        <div id="bulk_custom" style="display: none;"></div>
        
    </td>
    <td>        
        <div id="bulk_update" style="display: none;">
            <input type="submit" name="submit" value="{ok_msg}" class="button2 button2_bulk_submit" id="bulk_submit"
                onclick="bulkSubmit('{sure_common_msg}', '{no_checked_msg}');return false;">
        </div>
    </td>
    <td width="100%"></td>
</tr>
</table>
</form>