<script type="text/javascript">
$(document).ready(function() {
    PopupManager.setTitle("{popup_title}");
    
    var parent_window = PopupManager.getParentWindow();
    parent_window.$('body').trigger('kbpNewsPopupOpened');
});

function attachEntry(id, title, link) {
    var parent_window = PopupManager.getParentWindow();
    parent_window.$('body').trigger('kbpNewsSelected', [{id: id, title: title}]);
}
</script>

{header}

<table border=0 width="100%" cellpadding="4" cellspacing="1" class="tdBorder">
<tr class="tdTitle">

    <td width="1" class="tdTitle">{id_msg}</td>
    <td width="1"></td>    
    <td width="1"></td>
    <td>{entry_title_msg}</td>
    
    <td width="1" align="center">{action_msg}</td>
</tr>

<tmpl:row>
<tr class="{class}" style="{style}">
    
    <td width="1" align="right"><b>{id}</b></td>
    <td width="1">
        <tmpl:if_schedule>
        <img src="images/icons/clock.svg" width="12" height="12" alt="clock"
            class="_tooltip" title="{schedule_msg}" />
        </tmpl:if_schedule>
    </td>    
    
    <td width="1">
        <tmpl:if_private>
        <img src="images/icons/lock2_{image_color}.svg" width="12" height="12" alt="key" 
            class="_tooltip" title="<b>{private1_msg}</b><br/>{roles_msg}" />
        </tmpl:if_private>
    </td>
    
    <td>{short_title}</td>
     
    <td align="center" width="1">
        <a href="#" onClick="attachEntry('{id}', '{escaped_title}', this); return false;">
            <img src="images/icons/attach.svg" width="14" height="14" style="padding: 0px 4px;" />
        </a>
    </td>
</tr>
</tmpl:row>

</table>

<div class="bottom_button bb_popup">
    <input type="button" value="{done_msg}" class="button" onclick="PopupManager.close();" />
</div>

<tmpl:bulk></tmpl:bulk>