<!--[if IE]>
<link rel="stylesheet" type="text/css" href="{kb_path}client/skin/common_ie.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" href="{kb_path}client/skin/common.css" />
<link rel="stylesheet" type="text/css" href="{kb_path}client/skin/view_left/common_view.css" />
<script type="text/javascript">
    $(document).ready(function() {        
        PopupManager.setTitle("{preview_msg}");
        
        initUserTooltip();
        
        <tmpl:ajax_preview>
        
            var title = window.top.$('#title').val();
            $('#title').html(title);
    
            var body = window.top.oEditor.getData();
    
            // custom
            var custom = FormCollector.getCustomFields(window.top);   
    
            xajax_parseBody(body, custom);
            
        </tmpl:ajax_preview>
    });
    
    function maximizePreview() {
        var w = window.open(null, '_blank');
        $(w.document.body).html($('body').html());
        $(w.document.body).find('.preview_buttons').remove();
        PopupManager.close();
    }
</script>

<div class="tdArticleTitle">
    <h1 class="articleTitle" id="title">{title}</h1>
</div>

<div style="padding: 10px 5px;">
    <div class="textBlock" id="news_body">{body}</div>
</div>

<div class="bottom_button bb_popup preview_buttons">
    <input type="button" value="{close_msg}" class="button" id="close_button"
        onclick="PopupManager.close();">
        
    <tmpl:detail>
    <input type="button" value="{detail_msg}" class="button" id="detail_button"
        onclick="window.top.location.href = '{detail_link}';PopupManager.close();">
    </tmpl:detail>    
        
    <input type="button" value="{open_new_window_msg}" class="button" 
        onclick="maximizePreview();">
</div>
