<script type="text/javascript">
$(document).ready(function() {
    PopupManager.setTitle("{popup_title}");
    
    <tmpl:set_status>
    window.top.$('#search_spell_suggest').prop('checked', {status});
    </tmpl:set_status>
});
</script>

{error_msg}

<table border=0 width="100%" cellpadding="4" cellspacing="1" class="tdBorder3">
<tr class="tdTitle">
    <td class="tdTitle">{tool_title_msg}</td>
    <td width="1">{status_active_msg}</td>
    <td width="1">{settings_msg}</td>
</tr>

<tmpl:row>
<tr id="row_{id}" class="{class}" style="{style}">
    
    <td><b>{title}</b><br />{desc}</td>
    <td align="center">{active_img}</td>
    <td align="center">
        <a href="{settings_link}" title="{view_msg}">
            <img src="images/icons/info.svg" alt="view" />
        </a>
    </td>
</tr>
</tmpl:row>

</table>

<br />
<div class="bottom_button bb_popup">
    <input type="button" name="cancel" value="{close_msg}" class="button" 
            onClick="PopupManager.close();">
</div>