<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="admin/css/style.css">
    <style>
        body {
            padding: 15px;
            height: auto;
        }
    </style>
</head>
<body>
    {hint_msg}
    
    <tmpl:info>
    <table border="0" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <td colspan="2" class="tdTitle">{saml_response_data}</td>
    </tr>
    
    <tr class="trMoreDarker">
        <td>{name_id_msg}</td>
        <td>{name_id}</td>
    </tr>
    
    <tr class="trMoreDarker">
        <td colspan="2">{user_attributes_msg}</td>
    </tr>
    
    <tmpl:saml_user_attribute>
    <tr class="trLighter">
        <td class="tdFormCaption">
            <span style="padding-left: 20px;">{attr_name}</span>
        </td>
        <td>{attr_value}</td>
    </tr>
    </tmpl:saml_user_attribute>
        
    </table>
    
    <br />
    
    <table border="0" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <td colspan="2" class="tdTitle">{kbp_user_data_msg}</td>
    </tr>
    
    <tmpl:kbp_user_row>
    <tr class="trLighter">
        <td class="tdFormCaption">{attr_name}</td>
        <td>{attr_value}</td>
    </tr>
    </tmpl:kbp_user_row>
        
    </table>
    <br /><br />
    </tmpl:info>
    
    <div class="bottom_button bb_popup">
        <tmpl:slo_button>
        <input type="button" value="{test_logout_msg}" class="button" onclick="location.href='{slo_url}';" />
        </tmpl:slo_button>
    
        <input type="button" value="{close_msg}" class="button" onclick="window.close();" />
    </div>
</body>
</html>