<link rel="stylesheet" href="css/rule_popup.css" type="text/css">
<link rel="stylesheet" type="text/css" href="../client/skin/jquery/chosen.min.css">
<link rel="stylesheet" type="text/css" href="../client/skin/jquery/chosen_custom.css">
<script type="text/javascript" src="../client/jscript/jquery/chosen.jquery.min.js"></script>
<script type="text/javascript" src="../client/jscript/jquery/jquery.jeditable.mini.js"></script>
<script type="text/javascript">
function showAddedRule(html, line_num) {
    $('#rules_list').append(html);

    <tmpl:roles>
    $('#kbp_attr').val([]);
    $('#kbp_attr').trigger('chosen:updated');
    </tmpl:roles>
    
    makeEditable('#rule_' + line_num);
    
    $('#new_rule').hide();
}

function hideDeletedRule(line) {
    $('#rule_' + line).remove();
    
    $('tr[id^=rule_]').each(function() {
        var rule_id = this.id.substring(5);
        if (rule_id > line) {
            var new_rule_id = rule_id - 1;
            $(this).attr('id', 'rule_' + new_rule_id);
            $(this).find('a').attr('onclick', 'deleteRule(' + new_rule_id + '); return false;');
        }
    });
}

function addRule() {
    var data = {};
    data['saml_attr_name'] = $('#saml_attr_name').val();
    data['saml_attr_value'] = $('#saml_attr_value').val();
    data['kbp_attr_value'] = $('#kbp_attr').val();

    $("#growls").empty();

    if (data['saml_attr_value'] && data['saml_attr_value'] && data['kbp_attr_value']) {
        xajax_addRule(data);

    } else {
        $.growl.error({title: "", message: "{required_msg}", fixed: true});
    }
}

function deleteRule(line) {
    confirm2("{sure_common_msg}", function() {
        xajax_deleteRule(line);
    });
}

$(document).ready(function() {
    PopupManager.setTitle("{popup_title}");

    var current_popup = PopupManager.getCurrentPopup();
    current_popup.dialog('option', 'beforeClose', updateCounter);

    $('#kbp_attr').chosen({
        placeholder_text_multiple: '{select_roles_msg}',
        width: '100%'
    });
    
    makeEditable('tr[id^=rule_]');
});

function makeEditable(selector) {
    $(selector + ' td:not(.not_editable):not(.editable_chosen)').editable(function(value, settings) {
        var line_num = $(this).parent().attr('id').substr(5);
        var field = $(this).attr('class').substr(9);
        
        if (value || field == 2) {
            ajax_value = value;
            if (value == '' && field == 2) {
                ajax_value = 0;
            }
            
            xajax_updateItem(line_num, field, ajax_value);
            return value;
            
        } else {
            $('#growls').empty();
            $.growl.error({title: "", message: "{required_msg}", fixed: true});
            return false;
        }
        
    }, {
        onblur : 'submit',
        placeholder: '',
        width: '95%',
        height: 16
    });
    
    makeEditableSelect(selector);
}

function makeEditableSelect(selector) {
    $(selector + ' td.editable_chosen').click(function(e) {
        $(this).unbind('click');
        
        e.stopPropagation();
    
        var cloned_select = $('#kbp_attr').clone();
        cloned_select.attr('id', 'kbp_attr_tmp');
        cloned_select.val($(this).attr('data-value'));
        
        <tmpl:roles>
        var role_ids = $(this).attr('data-value').split(',');
        cloned_select.val(role_ids);
        </tmpl:roles>
        
        $(this).html(cloned_select);
        
        $('#kbp_attr_tmp').on('chosen:ready', function(evt, params) {
            $(window).click(function(e) {
                var id = $('#kbp_attr_tmp').parent().parent().attr('id');
                if (id) {
                    var line_num = id.substr(5);
                    xajax_updateItem(line_num, 2, $('#kbp_attr_tmp').val());
                }
                
                $(window).unbind('click');
            });
            
            $('#kbp_attr_tmp_chosen').click(function(e) {
                e.stopPropagation();
            });
        });
        
        
        $('#kbp_attr_tmp').chosen({
            placeholder_text_multiple: '{select_roles_msg}',
            width: '100%'
        });
        
        $('#kbp_attr_tmp').trigger('chosen:activate');
        
        <tmpl:priv>
        $('#kbp_attr_tmp').on('change', function(evt, params) {
            var line_num = $(this).parent().parent().attr('id').substr(5);
            xajax_updateItem(line_num, 2, params.selected);
        });
        </tmpl:priv>
    });
}

function updateCounter() {
    window.top.$('#aContentForm').attr('target', '_self');
    window.top.$('#aContentForm input[name=popup]').remove();
    window.top.$('#aContentForm').attr('action', window.top.$('#aContentForm').attr('action').replace('&popup=saml_map_group_to_{type}', ''));

    // update the counter
    if ($('#rules_list').length) {
        var rules_num = $('#rules_list tr').length - 1;
        window.top.$('#saml_map_group_to_{type}_count').text(rules_num);
    }
}

function initSort() {
    $('#sortable_views').sortable({
        placeholder: 'view_placeholder',
        items: 'li:not(.not_sortable)',
        stop: function(event, ui) {   
            LeaveScreenMsg.changes = true;
        }
    });
    $('#sortable_views').disableSelection();
    
    LeaveScreenMsg.setDoCheck(1);
    LeaveScreenMsg.check();
}
</script>
<style>
    .chosen-container .chosen-results {
        max-height: 100px;
    }
</style>

<tmpl:license_limit_user>
<div style="padding-bottom: 10px;">
    {license_limit_user_msg}
</div>
</tmpl:license_limit_user>

<div id="extra_list">

<div style="float: right;">
    {buttons}
</div>

<div style="clear: both;height: 10px;"></div>

<div id="new_rule" class="not_sortable trLighter" style="display: none; margin-bottom: 20px;">
	<div class="tdTitle">{add_new_msg}</div>
    <table border="0" cellpadding="5" cellspacing="1" width="100%">
        <tr>
            <td width="22%">
                <input type="text" id="saml_attr_name" 
    				placeholder="* {saml_group_attr_name_msg}" value="{initial_value}"
    				style="width: 95%;height: 20px;padding-left: 5px;" />
            </td>
            <td width="22%">
                <input type="text" id="saml_attr_value" 
    				placeholder="* {saml_group_attr_value_msg}"
    				style="width: 95%;height: 20px;padding-left: 5px;" />
            </td>
            <td width="7%" align="center" style="font-size: 15px;">
                <b>&rarr;</b>
            </td>
            <td>
                {kbp_attr_select}
            </td>
        </tr>
    </table>
    <div style="text-align: center;padding: 20px 0 10px 0;">
        <input type="button" value="{add_msg}" class="button" onClick="addRule();" />
        <input type="button" value="{cancel_msg}" class="button" onClick="$('#new_rule').hide();$('#growls').empty();">
    </div>
</div>

<table border="0" cellpadding="5" cellspacing="1" width="100%" class="tdBorder1" id="rules_list">
    <tr class="trMoreDarker not_sortable">
        <td width="22%">
            <b>{saml_group_attr_name_msg}</b>
        </td>
        <td width="22%">
            <b>{saml_group_attr_value_msg}</b>
        </td>
        <td width="7%"></td>
        <td>
            <b>{kbp_attr_title}</b>
        </td>
        <td></td>
    </tr>

    <tmpl:rule>
    <tr class="trLighter" id="rule_{line}">
        <td class="editable_0" height="22">{saml_attr_name}</td>
        <td class="editable_1">{saml_attr_value}</td>
        <td class="not_editable" align="center" style="font-size: 15px;">
            <b>&rarr;</b>
        </td>
        <td class="editable_chosen" data-value="{kbp_attr_value}">
            {kbp_attr_data}
        </td>
        <td class="not_editable" width="15" align="center">
            <a href="" onClick="deleteRule({line}); return false;">
                <img src="../client/images/icons/x-mark.svg" height="10" alt="{delete_msg}" title="{delete_msg}">
            </a>
        </td>
    </tr>
    </tmpl:rule>
</table>

<div class="bottom_button bb_popup">
    <input type="button" value="{done_msg}" class="button" id="close_button"
        onclick="updateCounter();PopupManager.close();">
</div>

</div>