{user_note_msg}
{header}

<table border="0" width="100%" cellpadding="4" cellspacing="1" class="tdBorder sTable tableCp4 tableCs1">
<tr class="tdTitle">
    <td width="50" class="tdTitle">{id_msg}&nbsp;</td>
    <td width="100">{posted_msg}</td>
    <td width="100">{updated_msg}</td>
    <td>{filename_msg}</td>
    
    <td align="center" width="1">{action_msg}</td>
</tr>

<tmpl:row>
<tr class="{class}" style="{style}">
    <td width="50" align="right">{id}&nbsp;</td>
    <td width="100">{date_posted}</td>
    <td width="100">{date_updated}</td>
    <td><a href="{entry_link}">{filename}</a></td>
    
    <td align="center" width="1">{delete_img}</td>
</tr>
</tmpl:row>

</table>