{error_msg}

<table border="0" width="100%" cellpadding="5" cellspacing="1" class="sTable tableCp5 tableCs1">
<tr class="tdTitle" style="height: 1px;">
    <td colspan="2" style="padding: 1px;"></td>
</tr>

<tmpl:row>
<tr class="{class}" style="{style}">
    <td width="85%">
        <a href="{item_link}" title="{tip_msg}"><b>{item_title}</b></a>
    </td>
    <td width="1" style="padding-left: 15px;">
        <input type="checkbox" style="margin: 0px;" disabled {item_count_ch}> &nbsp;&nbsp;{item_count}
    </td>
</tr>
</tmpl:row>

</table>