<script type="text/javascript" src="jscript/CategoriesInputHandler.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var categories = [{categories}];
        CategoriesInputHandler.init(categories);  
    });
</script>

<form action="" style="margin: 0px;">
{hidden_fields}

<table id="filter_tbl">
<tr>
    <td>
        <div>{category_msg}:</div>
        
        <input type="text" id="filter" value="{category_name}" title="{category_name}" class="longText colorInput" />
        <input type="hidden" name="filter[t]" id="filterCategoryId" value="{category_id}" />
    </td>
    
    <td>
        <div>{entry_status_msg}:</div>
        <select name="filter[s]" class="colorInput" style="width: 120px;">
        {status_select}
        </select>
    </td>
    
    <td>
        <button type="submit" name="do_search" value="1" 
            class="button2 button2_filter">&rarr;</button>
    </td>    
</tr>
</table>

</form>
