<script type="text/javascript">
$(document).ready(function() {
    PopupManager.setTitle("{featured_msg}");
});
</script>

<form action="{action_link}" method="post" name="" id="aContentForm" onSubmit="LeaveScreenMsg.skipCheck(); selHandler.selectAll(); return Validate(this);">
    
<table border="0" width="100%" cellpadding="5" cellspacing="1">
<tr>
    <td colspan="2" class="tdTitle"><b>{action_title}</b></td>
</tr>

<tr class="trMoreDarker">
    <td>{entry_id_msg}:</td>
    <td><strong>{id}</strong></td>
</tr>

<tr class="trMoreDarker">
    <td>{title_msg}:</td>
    <td>{title}</td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{index_page_msg}:</td>
    <td>
        <input type="checkbox" name="index_page" value="1" {ch_index_page} /> {yes_msg}
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{category_page_msg}:</td>
    <td>
        {category_block_tmpl}
    </td>
</tr>

<tr>
    <td></td>
    <td><div><br></div>
        <input type="submit" name="submit" value="{save_msg}" class="button">
        <input type="button" value="{cancel_msg}" 
            onClick="LeaveScreenMsg.skipCheck(); location.href='{cancel_link}'" class="button">
    </td>
</tr>

</table>

</form>