<script type="text/javascript">
<!--

function Validate(form) {
	return true;
}

//-->
</script>

{menu_block}

<table border="0" width="100%" cellpadding="5" cellspacing="1">
<tr>
    <td colspan="2" class="tdTitle">{detail_msg}</td>
</tr>

<tr class="trMoreDarker">
    <td>{id_msg}:</td>
    <td><strong>{id}</strong></td>
</tr>

<tr class="trMoreDarker">
    <td>{date_posted_msg}:</td>
    <td>
        <b>{date_posted_formatted}</b> by <b>{author}</b>
    </td>
</tr>

<tr class="trMoreDarker">
    <td>{hits_num_msg}:</td>
    <td>{hits}</td>
</tr>

<tr class="trMoreDarker">
    <td>{posts_msg}:</td>
    <td>{posts}</td>
</tr>

<!--<tr class="trMoreDarker">
    <td>{last_post_msg}:</td>
    <td>{last_comment}</td>
</tr>-->

<!--<tr class="trMoreDarker">
    <td>{last_viewed_msg}:</td>
    <td><strong>{last_viewed_formatted}</strong></td>
</tr>-->

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{category_msg}:</td>
    <td>{category}</td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{entry_status_msg}:</td>
    <td>{status}</td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{sticky_msg}:</td>
    <td>{is_sticky}</td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{tags_msg}:</td>
    <td>{tags}</td>
</tr>

</table>