body { margin: 0px; height: 100%; }
body, TD, DIV { 
/*    font-family : Times; */
	color: #000000;
/*    font-size : 100%;*/
}

.textBlock { line-height : 150%; }
.serviceBlock { font-size : 0.9em; }

.forumText blockquote {
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
    border-left-width: 5px;
    padding-left: 10px;
    margin-left: 15px;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.forumQuoteAuthor {
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 5px;
    font-family: Georgia, Times, "Times New Roman", serif;
}