<?xml version="1.0" encoding="{encoding}"?>
<report>
    <detail>
        <date_period>{date_period}</date_period>  
    </detail>
    
    <items>
        <tmpl:row>
        <item>
            <date>{date_search}</date>
            <user_id>{user_id}</user_id>
            <username>{username}</username>
            <search_string>{search_string}</search_string>
            <ip>{user_ip_formatted}</ip>
            <search_type>{search_type_formatted}</search_type>
            <exitcode>{exitcode}</exitcode>
        </item>
        </tmpl:row>
    </items>
</report>