{error_msg}


<!-- onSubmit="return Validate(this);" -->
<form action="{action_link}" method="post" name="" id="">
{hidden_fields}

<table border=0 cellpadding="5" cellspacing="1" width="100%" class="tdBorder1">
<tr>
    <td colspan="2" class="tdTitle"><b>{detail_msg}</b></td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{date_msg}:</td>
    <td><b>{date_search_interval}</b> ({date_search_formatted})</td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{search_string_msg}:</td>
    <td>{search_string}</td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{search_in_msg}:</td>
    <td>{search_type_str}</td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{returned_rows_msg}:</td>
    <td>{returned_rows}</td>
</tr>

<tmpl:user>
<tr class="trLighter">
    <td class="tdFormCaption">{user_id_msg}:</td>
    <td>{user_id}</td>
</tr>
<tr class="trLighter">
    <td class="tdFormCaption">{username_msg}:</td>
    <td><a href="{userlink}">{username}</a></td>
</tr>
</tmpl:user>


<tr class="trLighter">
    <td class="tdFormCaption">{user_ip_msg}:</td>
    <td>{user_ip}</td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{search_link_msg}:</td>
    <td><a href="{search_link}">{search_msg}</a></td>
</tr>

<tr>
    <td colspan="2" bgcolor="#F4F4F4">
        <table border=0 cellpadding="0" cellspacing="0" width="100%" class="tdBorder1">
            <tr class="trLighter">
                <td class="tdFormCaption" colspan="2" style="width: 100%;">
                    <div style="padding-bottom: 3px;">
                    {search_params_msg}:
                    </div>
                    <textarea name="output" rows="12" style="width: 100%;">{search_option_data}</textarea>
                </td>
            </tr>
        </table>        
    </td>
</tr>

<tr> 
    <td></td>
    <td><div><br></div>
        <div id="bottom_button">
            <input type="button" value="{back_msg}" onClick="location.href='{cancel_link}'" class="button">
        </div>
    </td>
</tr>

</table>
</form>