{error_msg}

<!-- onSubmit="return Validate(this);" -->
<form action="{action_link}" method="post">
{hidden_fields}

<table border=0 width="100%" cellpadding="5" cellspacing="1">
<tr>
    <td colspan="2" class="tdTitle" style="padding: 1px;"></td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{draft_id_msg}:</td>
    <td>{id}</td>
</tr>
<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{field_title}:</td>
    <td>{title}</td>
</tr>

<tr> 
    <td></td>
    <td><div><br></div>
        <input type="submit" name="submit" id="submit" value="{delete_msg}" 
            class="button">
        
        <input type="button" value="{cancel_msg}" 
            onClick="location.href='{cancel_link}'" class="button">
    </td>
</tr>
</table>
</form>

<script type="text/javascript">
 document.getElementById('submit').focus();
</script>
