<script type="text/javascript">
$(document).ready(function() {
    PopupManager.setTitle("{email_boxes_msg}");

    <tmpl:assign_mailbox>
    attachEntry('{id}', "{title}");
    </tmpl:assign_mailbox>
});

function attachEntry(id, title) {
    var parent_window = PopupManager.getParentWindow();

    parent_window.$('#mailbox_title').val(title);
    parent_window.$('#mailbox_id').val(id);

    PopupManager.close();
}
</script>

{header}

<table border=0 width="100%" cellpadding="4" cellspacing="1" class="tdBorder">
<tr class="tdTitle">
    <td class="tdTitle">{title_msg}</td>
    <td>{hostname_msg}</td>
    <td align="center" width="1">{action_msg}</td>
</tr>

<tmpl:row>
<tr id="row_{id}" class="{class}" style="{style}" onDblClick="RecordToDo('{update_link}')">

    <td>{title}</td>
    <td>
        <span style="cursor: help;" class="_tooltip" title="{tooltip_host}">{host}</span>
    </td>
    <td align="center">
        <a href="#" title="{assign_msg}" onClick="attachEntry('{id}', '{escaped_name}', this); return false;">
            <img src="images/icons/attach.svg" width="14" height="14" alt="{assign_msg}" />
        </a>
    </td>
</tr>
</tmpl:row>

</table>

<div class="bottom_button bb_popup">
    <input type="button" value="{close_msg}" class="button" onclick="PopupManager.close();" />
</div>