<script TYPE="text/javascript">
<!--
function validate() {

    
    
}
//-->
</SCRIPT>

{error_msg}

<!-- onSubmit="return Validate(this);" -->
<form action="{action_link}" method="post" id="aContentForm">
{hidden_fields}

<table border=0 width="100%" cellpadding="5" cellspacing="1">
<tr>
    <td colspan="2" class="tdTitle"><b>{action_title}</b></td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{title_msg}: {required_sign}</td>
    <td><input type="text" name="name" id="name" value="{name}" class="longText"></td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{description_msg}:</td>
    <td><textarea cols="80" rows="2" name="description" id="description">{description}</textarea></td>
<tr>

<tr class="trLighter">
    <td class="tdFormCaption">{status_msg}:</td>
    <td>{status_checkbox}</td>
</tr>

<tr>
    <td></td>
    <td><div><br></div>
        <div id="bottom_button">
            <input type="submit" name="submit" value="{save_msg}" class="button"
                onClick="validateForm();return false;" />
                
            <input type="button" value="{cancel_msg}" onClick="location.href='{cancel_link}'" class="button">
        </div>
    </td>
</tr>
</table>
</form>
