<script type="text/javascript" src="jscript/SortShowMore.js"></script>
<script type="text/javascript" src="jscript/FileInput.js"></script>
<script type="text/javascript" src="jscript/common_entry_form.js"></script>
<script type="text/javascript" src="jscript/TagManager.js"></script>
<script type="text/javascript">

    function init() {

        SortShowMore.up_msg = "{show_more_up_msg}";
        SortShowMore.down_msg = "{show_more_down_msg}";
        SortShowMore.loading_msg = "{show_more_loading_msg}";
        SortShowMore.init();

        sf = new getMoreHtmlFiles();
        sf.confirm_remove = false;
        sf.confirm_remove_msg = "{sure_common_msg}";
        sf.denied_extension_msg = "{denied_extension_msg}!";
        sf.file_exists_handler = true;
        sf.file_exists_msg = "{file_exists_msg}!";
        sf.max_allowed = {num_files_upload};
        sf.allowed_extension = {allowed_extension};
        sf.denied_extension = {denied_extension};

        var fields_to_check = ['tag'];
        LeaveScreenMsg.setFieldsToCheck(fields_to_check);
    }
    
    function LeaveScreenMsgCheck() {
        var filter_ids = ['filter'];
        LeaveScreenMsg.setFilterFields(filter_ids);
        LeaveScreenMsg.initCheck('aContentForm');
    }

    $(document).ready(function() {
        customFieldCategoryHandler('{sure_delete_msg}');
        
        button_text_enabled = {button_text_enabled};
        $('select[name="active"]').change(function() {
            updateButtonText();
        });
    });
    
    
    function updateButtonText() {
        if (button_text_enabled) {
            var status = parseInt($('select[name="active"]').val());
            var published_statuses = [{published_statuses}];
            var non_active_categories = [{non_active_categories}];
            
            var published = false;
            
            $('#category option').each(function() {
                if ($.inArray(parseInt($(this).val()), non_active_categories) == -1) {
                    published = true;
                }
            });
            
            if ($.inArray(status, published_statuses) == -1) {
                published = false;
            }
            
            var button_text = (published) ? "{publish_msg}" : "{save_msg}";
            $('input[name="submit"]:not(#submit_draft)').val(button_text);
        }
    }
    

    window.onload = init;

</script>

{menu_block}
{success_msg}
{error_msg}

<!-- onSubmit="return Validate(this);" -->
<tmpl:entry_view>
<form action="{action_link}" method="post" enctype="multipart/form-data"
    id="aContentForm" name="aContentForm" onsubmit="subForm();">
</tmpl:entry_view>
        
{hidden_fields}

<table border=0 width="100%" cellpadding="5" cellspacing="1">
<tr>
    <td colspan="2" class="tdTitle">
        <b>{action_title}: </b>
        <span style="font-weight: normal; margin-left: 10px;">
            {filesize_max_msg}: {file_size_max}
            <tmpl:group_size>
            | {postsize_max_msg}: {postsize_max}
            </tmpl:group_size>
        </span>
    </td>
</tr>

<tmpl:entry_id>
<tr class="trMoreDarker">
    <td>{id_msg}</td>
    <td><strong>{id}</strong></td>
</tr>
</tmpl:entry_id>

<tmpl:entry_id2>
<tr class="trMoreDarker">
    <td>{entry_id_msg}:</td>
    <td><strong>{id2}</strong></td>
</tr>
</tmpl:entry_id2>

<tmpl:filename>
<tr class="trMoreDarker">
    <td>{filename_msg}:</td>
    <td>
        <a href="{file_link}" title="{title}"><strong>{filename}</strong></a>
    </td>
</tr>
</tmpl:filename>

<tmpl:posted>
<tr class="trMoreDarker">
    <td>{date_msg}:</td>
    <td><strong>{formatted_date}</strong>&nbsp; {formatted_user}</td>
</tr>
</tmpl:posted>

<tr class="trLighter">
    <td class="tdFormCaption">{file_msg}: {file_required_sign}</td>
    <td>
        <div class="file_error">
            <input type="file" name="file_1" id="file_1" class="file_input"
                onchange="sf.onFileSelected(this);">
            <span class="file_error_msg" style="color: #777777; margin-left: 10px;"></span>
            &nbsp;&nbsp;{file_help_msg}

            <div id="writeroot_file"></div>
        </div>

        <div id="file_add" style="display: none;">
            <div style="margin-top: 5px; margin-left: 3px;">
                <a href="javascript:void(0);" onclick="sf.get(); return false;">
                    {add_new_msg}
                </a>
            </div>
        </div>
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{category_msg}: {required_sign}</td>
    <td>
        {category_block_search_tmpl}
        {category_block_tmpl}
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption">{title_msg}:</td>
    <td><input type="text" name="title" value="{title}" class="longText" style="width: 705px;"></td>
</tr>

<tr class="trLighter" valign="top">
    <td class="tdFormCaption">{description_msg}:</td>
    <td><textarea rows="5" style="width: 705px;" name="description">{description}</textarea>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{tags_msg}:</td>
    <td>
        {block_tag_tmpl}
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{private_msg}:</td>
    <td>
        {block_private_tmpl}
    </td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{schedule_msg}:</td>
    <td>
        {block_schedule_tmpl}
    </td>
</tr>

<tmpl:entry_view>
<tr class="trLighter" id="custom_field_bottom_border">
    <td class="tdFormCaption tdCaptionTop">{sort_order_msg}:</td>
    <td>

        <div id="sort_order_toggle_title" class="formToggleBlockTitle" onclick="toggleBlock('sort_order');">
            <span>{sort_order_msg}</span>
        </div>

        <div id="sort_order_toggle_block" class="formToggleBlockBody" style="display: none;">
            <div id="sort_order_div">
                <span id="writeroot_sort">
                    <tmpl:sort_order_row>
                        {sort_order_select}
                    </tmpl:sort_order_row>
                </span>
            </div>
        </div>

    </td>
</tr>
</tmpl:entry_view>

{custom_field_block_bottom}

<tmpl:entry_view>
<tr class="trLighter">
    <td class="tdFormCaption">{entry_status_msg}:</td>
    <td>
        <select name="active" id="active" style="width: 300px">
            {status_select}
        </select>
    </td>
</tr>
</tmpl:entry_view>

</table>

<tmpl:entry_view>
<div style="padding: 20px 0px 0px 170px;">
    <div id="bottom_button">
        <input type="submit" name="submit" value="{button_text}" class="button"
            onClick="validateForm();return false;" />

        <tmpl:upload_and_attach_button>
        <input type="submit" name="submit_attach" value="{upload_and_attach_msg}" class="button"
            onClick="validateForm('submit_attach');return false;" />
        </tmpl:upload_and_attach_button>

        <input type="button" value="{cancel_msg}"  class="button"
            onClick="LeaveScreenMsg.skipCheck(); location.href='{cancel_link}'">
    </div>
</div>
</form>
</tmpl:entry_view>

<!--{related_templates}-->

<div id="readroot_file" style="display: none;">
    <input type="file" name="" class="file_input" onchange="sf.onFileSelected(this);">
    <span class="file_delete" style="color: red; cursor: pointer; margin-left: 5px;"
        onClick="sf.remove(this); return false;">
        <b>×</b>
    </span>
    <span class="file_error_msg" style="color: red; margin-left: 10px;"></span>
</div>