<table border="0" width="100%" cellpadding="5" cellspacing="1">
<tr>
    <td colspan="2" class="tdTitle">{detail_msg}</td>
</tr>

<tr class="trMoreDarker">
    <td>{date_posted_msg}:</td>
    <td>{formatted_date}</a></td>
</tr>

<tr class="trMoreDarker">
    <td>{name_msg}:</td>
    <td>{show_name}</a></td>
</tr>

<tr class="trMoreDarker">
    <td>{email_msg}:</td>
    <td><a href="mailto:{email}">{email}</a></td>
</tr>

<tr class="trMoreDarker">
    <td>{subject_msg}:</td>
    <td>{subject}</td>
</tr>

<tr class="trMoreDarker">
    <td>{title_msg}:</td>
    <td>{title}</td>
</tr>

<tr class="trMoreDarker">
    <td class="tdCaptionTop">{message_msg}:</td>
    <td>{question}</td>
</tr>

<tmpl:custom_row>
<tr class="trMoreDarker">
    <td class="tdCaptionTop">{title}:</td>
    <td>{value}</td>
</tr>
</tmpl:custom_row>

<tr class="trMoreDarker">
    <td>{attachment_msg}:</td>
    <td>{files}</td>
</tr>

<tr>
    <td colspan="2"></td>
</tr>

<tr>
    <td colspan="2" class="tdTitle">{answer_msg}</td>
</tr>

<tr class="trLighter" valign="top">
    <td class="tdFormCaption">{answer_msg}:</td>
    <td>{answer}</td>
</tr>

<tr class="trLighter" valign="top">
    <td class="tdFormCaption">{attachment_msg}:</td>
    <td>
        <tmpl:file>
        <a href="{file_link}">{filename}</a><br /><br />
        </tmpl:file>
    </td>
</tr>

<tr> 
    <td></td>
    <td><div><br></div>
        <div id="bottom_button">
            <tmpl:send_button>
            <input type="submit" name="submit" value="{new_answer_msg}" class="button"
                onClick="location.href='{answer_link}'" />
            </tmpl:send_button>
                    
            <input type="button" value="{place_to_kb_msg}" onClick="location.href='{place_link}'" class="button">
            <input type="button" value="{cancel_msg}" onClick="location.href='{cancel_link}'" class="button">
        </div>
    </td>
</tr>
</table>