<script type="text/javascript" src="jscript/FileInput.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        s = new getMoreHtml();
        s.readroot = document.getElementById('readroot');
        s.writeroot = document.getElementById('writeroot');
        
        sf = new getMoreHtmlFiles();
        sf.confirm_remove = false;
        sf.max_allowed = 3;
        sf.allowed_extension = false;
        sf.denied_extension = false;
    });
    
    $('body').bind('kbpFileSelected', {}, function(e, params) {
        s.get(params.id, params.name);
    });
    
    $('body').bind('kbpFilePopupOpened', {}, function(e, params) {
        var popup_frame = PopupManager.getCurrentPopupFrame();
        var popup = PopupManager.getCurrentPopup();
        
        var skip_ids = [];
        
        $('div.popUpDiv input[name="answer_attachment[]"]').each(function(){
            skip_ids.push($(this).val());
        });
        
        for (var i in skip_ids) {
            var id = skip_ids[i];
            popup.find('iframe').get(0).contentWindow.disableLink(popup_frame.find('#attach_link_' + id));
            
            popup_frame.find('#attach_link_' + id).parent().parent().attr('class', 'trHighlight');
            popup_frame.find('#insert_img_' + id).hide();
            popup_frame.find('#inserted_img_' + id).show();
        }
    });
</script>

{error_msg}

<!-- onSubmit="return Validate(this);" -->
<form action="{action_link}" method="post" name="aContentForm" id="aContentForm" enctype="multipart/form-data" onsubmit="LeaveScreenMsg.skipCheck();">
<input type="hidden" name="first_name" value="{first_name}">
<input type="hidden" name="last_name" value="{last_name}">
<input type="hidden" name="username" value="{username}">
<input type="hidden" name="subject" value="{subject}">
{hidden_fields}

<table border=0 width="100%" cellpadding="5" cellspacing="1">
<tr>
    <td colspan="2" class="tdTitle"><b>{detail_msg}</b></td>
</tr>

<tr class="trMoreDarker">
    <td>{date_posted_msg}:</td>
    <td>{formatted_date}</a></td>
</tr>

<tr class="trMoreDarker">
    <td>{name_msg}:</td>
    <td>{show_name}</a></td>
</tr>

<tr class="trMoreDarker">
    <td>{email_msg}:</td>
    <td><a href="mailto:{email}">{email}</a></td>
</tr>

<tr class="trMoreDarker">
    <td>{subject_msg}:</td>
    <td>{subject}</td>
</tr>

<tr class="trMoreDarker">
    <td>{title_msg}:</td>
    <td>{title}</td>
</tr>

<tr class="trMoreDarker">
    <td class="tdCaptionTop">{message_msg}:</td>
    <td>{question}</td>
</tr>

<tmpl:custom_row>
<tr class="trMoreDarker">
    <td class="tdCaptionTop">{title}:</td>
    <td>{value}</td>
</tr>
</tmpl:custom_row>

<tr class="trMoreDarker">
    <td>{attachment_msg}:</td>
    <td>{files}</td>
</tr>

<tr>
    <td colspan="2"></td>
</tr>
<tr>
    <td colspan="2" class="tdTitle"><b>{action_title}</b></td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{answer_msg}: {required_sign}</td>
    <td><textarea cols="80" rows="18" name="answer" style="width: 100%">{answer}</textarea></td>
</tr>

<tr class="trLighter">
    <td class="tdFormCaption tdCaptionTop">{attachment_msg}:</td>
    <td>    
        <div class="file_error" style="margin-top: 10px;float: left;">
            <input type="file" name="attachment_1" onchange="sf.onFileSelected(this);" />
            <div id="writeroot_file"></div>
        </div>
        
        <div style="float: right;margin: 10px;">
            <span id="file_add" style="display: none;margin-right: 10px;">
                <span style="margin-top: 5px; margin-left: 3px;">
                    <a href="javascript:void(0);" onclick="sf.get(); return false;">
                        {add_new_msg}
                    </a>
                </span>
            </span>
            
            <a href="#" style="float: right;" onclick="PopupManager.create('{popup_link}', 'r', 'r', 'text');">
                {choose_from_files_msg}
            </a>
        </div>
        
        <div style="clear: both;height: 10px;"></div>
        
        <span id="writeroot"></span>
    </td>
</tr>

<tr> 
    <td></td>
    <td><div><br></div>
        <div id="bottom_button">
            <tmpl:send_button>
            <input type="submit" name="submit" value="{send_msg}" class="button"
                onClick="validateForm();return false;" />
            </tmpl:send_button>
                    
            <input type="button" value="{place_to_kb_msg}" onClick="location.href='{place_link}'" class="button">
            <input type="button" value="{cancel_msg}" onClick="location.href='{cancel_link}'" class="button">
        </div>
    </td>
</tr>
</table>
</form>

<div id="readroot" class="popUpDiv" style="display: none;">
    <div style="float: left;">
        <input type="hidden" name="answer_attachment[]" value="" id=""><span>1</span>
    </div>
    <div align="right">
        <a href="" onClick="removeHtml(this, '{sure_common_msg}'); return false;"><img src="images/icons/delete.svg" height="9" alt="delete" title="{delete_msg}"></a>
    </div>
</div>

<div id="readroot_file" style="display: none;">
    <input type="file" name="" class="file_input" onchange="sf.onFileSelected(this);">
    <span class="file_delete" style="color: red; cursor: pointer; margin-left: 5px;"
        onClick="sf.remove(this); return false;">
        <b>×</b>
    </span>
    <span class="file_error_msg" style="color: red; margin-left: 10px;"></span>
</div>